# 1. Foundations for efficiencies

In [1]:
names = ['Jerry', 'Kramer', 'Elaine', 'George', 'Newman']

# Print the list created using the Non-Pythonic approach
i = 0
new_list= []
while i < len(names):
    if len(names[i]) >= 6:
        new_list.append(names[i])
    i += 1
print(new_list)

['Kramer', 'Elaine', 'George', 'Newman']

In [2]:
# Print the list created by looping over the contents of names
better_list = []
for name in names:
    if len(name) >= 6:
        better_list.append(name)
print(better_list)

['Kramer', 'Elaine', 'George', 'Newman']

In [3]:
# Print the list created by using list comprehension
best_list = [name for name in names if len(name) >= 6]
print(best_list)

['Kramer', 'Elaine', 'George', 'Newman']

> Pythonic code == efficient code

## Building with built-ins

In [4]:
# Create a range object that goes from 0 to 5
nums = range(0,6)
print(type(nums))

# Convert nums to a list
nums_list = list(nums)
print(nums_list)

# Create a new list of odd numbers from 1 to 11 by unpacking a range object
nums_list2 = [*range(1,12,2)]
print(nums_list2)

<class 'range'>
[0, 1, 2, 3, 4, 5]
[1, 3, 5, 7, 9, 11]

> You can convert the range object into a list by using the list() function or by unpacking it into a list using the star character (*).

### Built-in practice: enumerate()

In [5]:
# Rewrite the for loop to use enumerate
indexed_names = []
for i,name in enumerate(names):
    index_name = (i,name)
    indexed_names.append(index_name) 
print(indexed_names)

# Rewrite the above for loop using list comprehension
indexed_names_comp = [(i,name) for i,name in enumerate(names)]
print(indexed_names_comp)

# Unpack an enumerate object with a starting index of one
indexed_names_unpack = [*enumerate(names, 1)]
print(indexed_names_unpack)

[(0, 'Jerry'), (1, 'Kramer'), (2, 'Elaine'), (3, 'George'), (4, 'Newman')]
[(0, 'Jerry'), (1, 'Kramer'), (2, 'Elaine'), (3, 'George'), (4, 'Newman')]
[(1, 'Jerry'), (2, 'Kramer'), (3, 'Elaine'), (4, 'George'), (5, 'Newman')]

### Built-in practice: map()

In [6]:
# Use map to apply str.upper to each element in names
names_map  = map(str.upper, names)

# Print the type of the names_map
print(type(names_map))

# Unpack names_map into a list
names_uppercase = [*map(str.upper, names)]

# Print the list created above
print(names_uppercase)

<class 'map'>
['JERRY', 'KRAMER', 'ELAINE', 'GEORGE', 'NEWMAN']

## The power of NumPy arrays
### Practice with NumPy arrays

In [7]:
import numpy as np
nums = np.array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [8]:
# Print second row of nums
print(nums[1,:])

[ 6  7  8  9 10]

In [9]:
# Print all elements of nums that are greater than six
print(nums[nums > 6])

[ 7  8  9 10]

In [10]:
# Double every element of nums
nums_dbl = nums * 2
print(nums_dbl)

[[ 2  4  6  8 10]
 [12 14 16 18 20]]

In [11]:
# Replace the third column of nums
nums[:,2] = nums[:,2] + 1
print(nums)

[[ 1  2  4  4  5]
 [ 6  7  9  9 10]]

> A numpy array contains homogeneous data types (which reduces memory consumption) and provides the ability to apply operations on all elements through broadcasting.

###  Bringing it all together: Festivus!

In [12]:
def welcome_guest(guest_and_time):
    """Returns a welcome string for the guest_and_time tuple. 
    Args: guest_and_time (tuple): The guest and time tuple to createa welcome string for.
    Returns: welcome_string (str): A string welcoming the guest to Festivus. 'Welcome to Festivus {guest}... You're {time} min late.'"""
    guest = guest_and_time[0]
    arrival_time = guest_and_time[1]
    welcome_string = "Welcome to Festivus {}... You're {} min late.".format(guest,arrival_time)
    return welcome_string

In [13]:
# Create a list of arrival times
arrival_times = [*range(10,60,10)]

# Convert arrival_times to an array and update the times
arrival_times_np = np.array(arrival_times)
new_times = arrival_times_np - 3

# Use list comprehension and enumerate to pair guests to new times
guest_arrivals = [(names[i],time) for i,time in enumerate(new_times)]

# Map the welcome_guest function to each (guest,time) pair
welcome_map = map(welcome_guest, guest_arrivals)

guest_welcomes = [*welcome_map]
print(*guest_welcomes, sep='\n')

Welcome to Festivus Jerry... You're 7 min late.
Welcome to Festivus Kramer... You're 17 min late.
Welcome to Festivus Elaine... You're 27 min late.
Welcome to Festivus George... You're 37 min late.
Welcome to Festivus Newman... You're 47 min late.

In [14]:
# Create a list of arrival times
arrival_times = [*range(10,60,10)]

# Convert arrival_times to an array and update the times
arrival_times_np = np.array(arrival_times)
new_times = arrival_times_np - 3

# Use list comprehension and enumerate to pair guests to new times
guest_arrivals = [(names[i],time) for i,time in enumerate(new_times)]

welcome_map = guest_arrivals
guest_welcomes = [*welcome_map]
print(*guest_welcomes, sep='\n')

('Jerry', 7)
('Kramer', 17)
('Elaine', 27)
('George', 37)
('Newman', 47)

# 2. Timing and profiling code
## Examining runtime

In [15]:
rand_nums = np.random.rand(1000)

%timeit rand_nums = np.random.rand(1000)

9.97 µs ± 409 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [16]:
%timeit -r2 -n10 rand_nums = np.random.rand(1000)

The slowest run took 19.17 times longer than the fastest. This could mean that an intermediate result is being cached.
111 µs ± 99.8 µs per loop (mean ± std. dev. of 2 runs, 10 loops each)

In [17]:
%%timeit

nums = []
for x in range(10):
    nums.append(x)

1.08 µs ± 60.7 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [18]:
times = %timeit -o rand_nums = np.random.rand(1000)

9.9 µs ± 108 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [19]:
times.timings

[9.848473389999981e-06,
 9.80557023000003e-06,
 1.0126369470000007e-05,
 9.928414749999988e-06,
 9.774916110000014e-06,
 9.885672640000003e-06,
 9.943035169999987e-06]

In [20]:
times.best

9.774916110000014e-06

In [21]:
times.worst

1.0126369470000007e-05

In [22]:
f_time = %timeit -o formal_dict = dict()
l_time = %timeit -o literal_dict = {}

91.8 ns ± 2.7 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
30.9 ns ± 0.055 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [23]:
f_time.average

9.182698897142843e-08

In [24]:
l_time.average

3.09356091000001e-08

In [25]:
diff = (f_time.average - l_time.average) * (10**9)
print('l_time better than f_time by {} ns'.format(diff))

l_time better than f_time by 60.89137987142833 ns

### Using %timeit: your turn!

In [26]:
# Create a list of integers (0-50) using list comprehension
%timeit nums_list_comp = [num for num in range(51)]

2.07 µs ± 32.2 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [27]:
# Create a list of integers (0-50) using list comprehension
nums_list_comp = [num for num in range(51)]

In [28]:
%timeit nums_unpack = [(nums_list_comp)]

62.1 ns ± 2.11 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [29]:
# Create a list of integers (0-50) by unpacking range
nums_unpack = [(nums_list_comp)]
print(nums_unpack)

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]]

### Using %timeit: formal name or literal syntax

In [30]:
# Create a list using the formal name
formal_list = list()
print(formal_list)

# Create a list using the literal syntax
literal_list = []
print(literal_list)

# Print out the type of formal_list
print(type(formal_list))

# Print out the type of literal_list
print(type(literal_list))

[]
[]
<class 'list'>
<class 'list'>

> Using Python's literal syntax to define a data structure can speed up your runtime. Consider using the literal syntaxes (like [] instead of list(), {} instead of dict(), or () instead of tuple()), where applicable, to gain some speed.

## Code profiling for runtime

In [31]:
! pip install line_profiler

Requirement already satisfied: line_profiler in /opt/miniconda3/lib/python3.9/site-packages (3.5.1)

In [32]:
heroes = ['Batman', 'Superman', 'Wonder Woman']
height = np.array([188.0,191.0,183.0])
weight = np.array([95.0,101.0,74.0])

In [33]:
def convert_units(heroes, heights, weights):
    """Converts Hero's height from centemeters to inches and weight from kilograms to pounds."""
    new_hts = [ht * 0.39370 for ht in heights]
    new_wts = [wt * 2.20462 for wt in weights]
    
    hero_data = {}
    
    for i, hero in enumerate(heroes):
        hero_data[hero] = (new_hts[i], new_wts[i])
    return hero_data

In [34]:
convert_units(heroes, height, weight)

{'Batman': (74.01559999999999, 209.4389),
 'Superman': (75.19669999999999, 222.66661999999997),
 'Wonder Woman': (72.0471, 163.14188)}

In [35]:
%timeit convert_units(heroes, height, weight)

4.28 µs ± 281 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [36]:
%load_ext line_profiler

In [37]:
%lprun -f convert_units convert_units(heroes, height, weight)

In [38]:
def convert_units_broadcast(heroes, heights, weights):

    # Array broadcasting instead of list comprehension
    new_hts = heights * 0.39370
    new_wts = weights * 2.20462

    hero_data = {}

    for i,hero in enumerate(heroes):
        hero_data[hero] = (new_hts[i], new_wts[i])

    return hero_data

In [39]:
%load_ext line_profiler
%lprun -f convert_units_broadcast convert_units_broadcast(heroes, height, weight)

The line_profiler extension is already loaded. To reload it, use:
  %reload_ext line_profiler

## Code profiling for memory usage

In [40]:
import sys

nums_list = [*range(1000)]
sys.getsizeof(nums_list)

8056

In [41]:
import numpy as np
nums_np = np.array(range(1000))
sys.getsizeof(nums_np)

8104

In [42]:
! pip install memory_profiler

Requirement already satisfied: memory_profiler in /opt/miniconda3/lib/python3.9/site-packages (0.60.0)
Requirement already satisfied: psutil in /opt/miniconda3/lib/python3.9/site-packages (from memory_profiler) (5.9.1)

In [43]:
from hero_funcs import convert_units

In [44]:
%load_ext memory_profiler

In [45]:
%mprun -f convert_units convert_units(heroes, height, weight)

In [46]:
heroes = ['A-Bomb',
 'Abe Sapien',
 'Abin Sur',
 'Abomination',
 'Absorbing Man',
 'Adam Strange',
 'Agent 13',
 'Agent Bob',
 'Agent Zero',
 'Air-Walker',
 'Ajax',
 'Alan Scott',
 'Alfred Pennyworth',
 'Alien',
 'Amazo',
 'Ammo',
 'Angel',
 'Angel Dust',
 'Angel Salvadore',
 'Animal Man',
 'Annihilus',
 'Ant-Man',
 'Ant-Man II',
 'Anti-Venom',
 'Apocalypse',
 'Aqualad',
 'Aquaman',
 'Arachne',
 'Archangel',
 'Arclight',
 'Ardina',
 'Ares',
 'Ariel',
 'Armor',
 'Atlas',
 'Atom',
 'Atom Girl',
 'Atom II',
 'Aurora',
 'Azazel',
 'Bane',
 'Banshee',
 'Bantam',
 'Batgirl',
 'Batgirl IV',
 'Batgirl VI',
 'Batman',
 'Batman II',
 'Battlestar',
 'Beak',
 'Beast',
 'Beast Boy',
 'Beta Ray Bill',
 'Big Barda',
 'Big Man',
 'Binary',
 'Bishop',
 'Bizarro',
 'Black Adam',
 'Black Bolt',
 'Black Canary',
 'Black Cat',
 'Black Knight III',
 'Black Lightning',
 'Black Mamba',
 'Black Manta',
 'Black Panther',
 'Black Widow',
 'Black Widow II',
 'Blackout',
 'Blackwing',
 'Blackwulf',
 'Blade',
 'Bling!',
 'Blink',
 'Blizzard II',
 'Blob',
 'Bloodaxe',
 'Blue Beetle II',
 'Boom-Boom',
 'Booster Gold',
 'Box III',
 'Brainiac',
 'Brainiac 5',
 'Brother Voodoo',
 'Buffy',
 'Bullseye',
 'Bumblebee',
 'Cable',
 'Callisto',
 'Cannonball',
 'Captain America',
 'Captain Atom',
 'Captain Britain',
 'Captain Mar-vell',
 'Captain Marvel',
 'Captain Marvel II',
 'Carnage',
 'Cat',
 'Catwoman',
 'Cecilia Reyes',
 'Century',
 'Chamber',
 'Changeling',
 'Cheetah',
 'Cheetah II',
 'Cheetah III',
 'Chromos',
 'Citizen Steel',
 'Cloak',
 'Clock King',
 'Colossus',
 'Copycat',
 'Corsair',
 'Cottonmouth',
 'Crimson Dynamo',
 'Crystal',
 'Cyborg',
 'Cyclops',
 'Cypher',
 'Dagger',
 'Daredevil',
 'Darkhawk',
 'Darkseid',
 'Darkstar',
 'Darth Vader',
 'Dash',
 'Dazzler',
 'Deadman',
 'Deadpool',
 'Deadshot',
 'Deathlok',
 'Deathstroke',
 'Demogoblin',
 'Destroyer',
 'Diamondback',
 'Doc Samson',
 'Doctor Doom',
 'Doctor Doom II',
 'Doctor Fate',
 'Doctor Octopus',
 'Doctor Strange',
 'Domino',
 'Donna Troy',
 'Doomsday',
 'Doppelganger',
 'Drax the Destroyer',
 'Elastigirl',
 'Electro',
 'Elektra',
 'Elongated Man',
 'Emma Frost',
 'Enchantress',
 'Etrigan',
 'Evil Deadpool',
 'Evilhawk',
 'Exodus',
 'Fabian Cortez',
 'Falcon',
 'Feral',
 'Fin Fang Foom',
 'Firebird',
 'Firelord',
 'Firestar',
 'Firestorm',
 'Flash',
 'Flash II',
 'Flash III',
 'Flash IV',
 'Forge',
 'Franklin Richards',
 'Franklin Storm',
 'Frenzy',
 'Frigga',
 'Galactus',
 'Gambit',
 'Gamora',
 'Genesis',
 'Ghost Rider',
 'Giganta',
 'Gladiator',
 'Goblin Queen',
 'Goku',
 'Goliath IV',
 'Gorilla Grodd',
 'Granny Goodness',
 'Gravity',
 'Green Arrow',
 'Green Goblin',
 'Green Goblin II',
 'Green Goblin III',
 'Green Goblin IV',
 'Groot',
 'Guy Gardner',
 'Hal Jordan',
 'Han Solo',
 'Harley Quinn',
 'Havok',
 'Hawk',
 'Hawkeye',
 'Hawkeye II',
 'Hawkgirl',
 'Hawkman',
 'Hawkwoman',
 'Hawkwoman III',
 'Heat Wave',
 'Hela',
 'Hellboy',
 'Hellcat',
 'Hellstorm',
 'Hercules',
 'Hobgoblin',
 'Hope Summers',
 'Howard the Duck',
 'Hulk',
 'Human Torch',
 'Huntress',
 'Husk',
 'Hybrid',
 'Hydro-Man',
 'Hyperion',
 'Iceman',
 'Impulse',
 'Ink',
 'Invisible Woman',
 'Iron Fist',
 'Iron Man',
 'Jack of Hearts',
 'Jack-Jack',
 'James T. Kirk',
 'Jean Grey',
 'Jennifer Kale',
 'Jessica Jones',
 'Jigsaw',
 'John Stewart',
 'John Wraith',
 'Joker',
 'Jolt',
 'Jubilee',
 'Juggernaut',
 'Justice',
 'Kang',
 'Karate Kid',
 'Killer Croc',
 'Kilowog',
 'Kingpin',
 'Klaw',
 'Kraven II',
 'Kraven the Hunter',
 'Krypto',
 'Kyle Rayner',
 'Lady Deathstrike',
 'Leader',
 'Legion',
 'Lex Luthor',
 'Light Lass',
 'Lightning Lad',
 'Lightning Lord',
 'Living Brain',
 'Lizard',
 'Lobo',
 'Loki',
 'Longshot',
 'Luke Cage',
 'Luke Skywalker',
 'Mach-IV',
 'Machine Man',
 'Magneto',
 'Man-Thing',
 'Man-Wolf',
 'Mandarin',
 'Mantis',
 'Martian Manhunter',
 'Marvel Girl',
 'Master Brood',
 'Maverick',
 'Maxima',
 'Medusa',
 'Meltdown',
 'Mephisto',
 'Mera',
 'Metallo',
 'Metamorpho',
 'Metron',
 'Micro Lad',
 'Mimic',
 'Miss Martian',
 'Mister Fantastic',
 'Mister Freeze',
 'Mister Sinister',
 'Mockingbird',
 'MODOK',
 'Molten Man',
 'Monarch',
 'Moon Knight',
 'Moonstone',
 'Morlun',
 'Morph',
 'Moses Magnum',
 'Mr Immortal',
 'Mr Incredible',
 'Ms Marvel II',
 'Multiple Man',
 'Mysterio',
 'Mystique',
 'Namor',
 'Namora',
 'Namorita',
 'Naruto Uzumaki',
 'Nebula',
 'Nick Fury',
 'Nightcrawler',
 'Nightwing',
 'Northstar',
 'Nova',
 'Odin',
 'Omega Red',
 'Omniscient',
 'One Punch Man',
 'Onslaught',
 'Oracle',
 'Paul Blart',
 'Penance II',
 'Penguin',
 'Phantom Girl',
 'Phoenix',
 'Plantman',
 'Plastic Man',
 'Plastique',
 'Poison Ivy',
 'Polaris',
 'Power Girl',
 'Predator',
 'Professor X',
 'Professor Zoom',
 'Psylocke',
 'Punisher',
 'Purple Man',
 'Pyro',
 'Question',
 'Quicksilver',
 'Quill',
 "Ra's Al Ghul",
 'Raven',
 'Ray',
 'Razor-Fist II',
 'Red Arrow',
 'Red Hood',
 'Red Hulk',
 'Red Robin',
 'Red Skull',
 'Red Tornado',
 'Rhino',
 'Rick Flag',
 'Ripcord',
 'Robin',
 'Robin II',
 'Robin III',
 'Robin V',
 'Rocket Raccoon',
 'Rogue',
 'Ronin',
 'Rorschach',
 'Sabretooth',
 'Sage',
 'Sandman',
 'Sasquatch',
 'Scarecrow',
 'Scarlet Spider',
 'Scarlet Spider II',
 'Scarlet Witch',
 'Scorpion',
 'Sentry',
 'Shadow King',
 'Shadow Lass',
 'Shadowcat',
 'Shang-Chi',
 'Shatterstar',
 'She-Hulk',
 'She-Thing',
 'Shocker',
 'Shriek',
 'Sif',
 'Silver Surfer',
 'Silverclaw',
 'Sinestro',
 'Siren',
 'Siryn',
 'Skaar',
 'Snowbird',
 'Solomon Grundy',
 'Songbird',
 'Space Ghost',
 'Spawn',
 'Spider-Girl',
 'Spider-Gwen',
 'Spider-Man',
 'Spider-Woman',
 'Spider-Woman III',
 'Spider-Woman IV',
 'Spock',
 'Spyke',
 'Star-Lord',
 'Starfire',
 'Stargirl',
 'Static',
 'Steel',
 'Steppenwolf',
 'Storm',
 'Sunspot',
 'Superboy',
 'Superboy-Prime',
 'Supergirl',
 'Superman',
 'Swarm',
 'Synch',
 'T-1000',
 'Taskmaster',
 'Tempest',
 'Thanos',
 'The Comedian',
 'Thing',
 'Thor',
 'Thor Girl',
 'Thunderbird',
 'Thunderbird III',
 'Thunderstrike',
 'Thundra',
 'Tiger Shark',
 'Tigra',
 'Tinkerer',
 'Toad',
 'Toxin',
 'Trickster',
 'Triplicate Girl',
 'Triton',
 'Two-Face',
 'Ultragirl',
 'Ultron',
 'Utgard-Loki',
 'Vagabond',
 'Valerie Hart',
 'Valkyrie',
 'Vanisher',
 'Vegeta',
 'Venom',
 'Venom II',
 'Venom III',
 'Vertigo II',
 'Vibe',
 'Vindicator',
 'Violet Parr',
 'Vision',
 'Vision II',
 'Vixen',
 'Vulture',
 'Walrus',
 'War Machine',
 'Warbird',
 'Warlock',
 'Warp',
 'Warpath',
 'Wasp',
 'White Queen',
 'Winter Soldier',
 'Wiz Kid',
 'Wolfsbane',
 'Wolverine',
 'Wonder Girl',
 'Wonder Man',
 'Wonder Woman',
 'Wyatt Wingfoot',
 'X-23',
 'X-Man',
 'Yellow Claw',
 'Yellowjacket',
 'Yellowjacket II',
 'Yoda',
 'Zatanna',
 'Zoom']

publishers = ['Marvel Comics',
 'Dark Horse Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'Dark Horse Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Dark Horse Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'Team Epic TV',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'George Lucas',
 'Dark Horse Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Dark Horse Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Shueisha',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'George Lucas',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Dark Horse Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Dark Horse Comics',
 'Star Trek',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'George Lucas',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Team Epic TV',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Dark Horse Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Shueisha',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Team Epic TV',
 'Shueisha',
 'Marvel Comics',
 'DC Comics',
 'Sony Pictures',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Dark Horse Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Image Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Star Trek',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Dark Horse Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Team Epic TV',
 'Marvel Comics',
 'Marvel Comics',
 'Shueisha',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Dark Horse Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'DC Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'Marvel Comics',
 'George Lucas',
 'DC Comics',
 'DC Comics']

## Bringing it all together: Star Wars profiling

In [47]:
def get_publisher_heroes(heroes, publishers, desired_publisher):                                       
     desired_heroes = []
     for i,pub in enumerate(publishers):
         if pub == desired_publisher:
             desired_heroes.append(heroes[i])                                        
     return desired_heroes

In [48]:
def get_publisher_heroes_np(heroes, publishers, desired_publisher):                         
    heroes_np = np.array(heroes)
    pubs_np = np.array(publishers)
    desired_heroes = heroes_np[pubs_np == desired_publisher]
    return desired_heroes

In [49]:
# Use get_publisher_heroes() to gather Star Wars heroes
star_wars_heroes = get_publisher_heroes(heroes, publishers, 'George Lucas')

print(star_wars_heroes)
print(type(star_wars_heroes))

# Use get_publisher_heroes_np() to gather Star Wars heroes
star_wars_heroes_np = get_publisher_heroes_np(heroes, publishers, 'George Lucas')

print(star_wars_heroes_np)
print(type(star_wars_heroes_np))

['Darth Vader', 'Han Solo', 'Luke Skywalker', 'Yoda']
<class 'list'>
['Darth Vader' 'Han Solo' 'Luke Skywalker' 'Yoda']
<class 'numpy.ndarray'>

In [50]:
%load_ext line_profiler
%lprun -f get_publisher_heroes get_publisher_heroes(heroes, publishers, 'George Lucas')

The line_profiler extension is already loaded. To reload it, use:
  %reload_ext line_profiler

In [51]:
%lprun -f get_publisher_heroes_np get_publisher_heroes_np(heroes, publishers, 'George Lucas')

In [52]:
# from hero_funcs import get_publisher_heroes
# %load_ext memory_profiler
# %mprun -f get_publisher_heroes get_publisher_heroes(heroes, publishers, 'George Lucas')

In [53]:
# from hero_funcs import get_publisher_heroes_np
# %load_ext memory_profiler
# %mprun -f get_publisher_heroes_np get_publisher_heroes_np(heroes, publishers, 'George Lucas')

> get_publisher_heroes_np() is faster.
 
> Both functions have the same memory consumption.

> Based on your runtime profiling and memory allocation profiling, I would use get_publisher_heroes_np()

# 3. Gaining efficiencies
## Efficiently combining, counting, and iterating
#### Combining with loop

In [54]:
names = ['Bulbasaur', 'Charmander', 'Squirtle']
hps = [45,39,44]

combined = []

for i, pokemon in enumerate(names):
    combined.append((pokemon, hps[i]))
    
print(combined)

[('Bulbasaur', 45), ('Charmander', 39), ('Squirtle', 44)]

#### Combining with zip

In [55]:
combined_zip = zip(names, hps)
print(type(combined_zip))

<class 'zip'>

In [56]:
combined_zip_list = [*combined_zip]
print(combined_zip_list)

[('Bulbasaur', 45), ('Charmander', 39), ('Squirtle', 44)]

#### Counting with loop

In [57]:
poke_types = ['Grass', 'Dark', 'Fire', 'Fire']

type_counts = {}

for poke_type in poke_types:
    if poke_type not in type_counts:
        type_counts[poke_type] = 1
    else:
        type_counts[poke_type] += 1
print(type_counts)

{'Grass': 1, 'Dark': 1, 'Fire': 2}

#### Counting with collections.Counter()

In [58]:
from collections import Counter
type_counts = Counter(poke_types)
print(type_counts)

Counter({'Fire': 2, 'Grass': 1, 'Dark': 1})

### Combining Pokémon names and types

In [59]:
names = ['Abomasnow',
 'Abra',
 'Absol',
 'Accelgor',
 'Aerodactyl',
 'Aggron',
 'Aipom',
 'Alakazam',
 'Alomomola',
 'Altaria',
 'Amaura',
 'Ambipom',
 'Amoonguss',
 'Ampharos',
 'Anorith',
 'Arbok',
 'Arcanine',
 'Arceus',
 'Archen',
 'Archeops',
 'Ariados',
 'Armaldo',
 'Aromatisse',
 'Aron',
 'Articuno',
 'Audino',
 'Aurorus',
 'Avalugg',
 'Axew',
 'Azelf',
 'Azumarill',
 'Azurill',
 'Bagon',
 'Baltoy',
 'Banette',
 'Barbaracle',
 'Barboach',
 'Basculin',
 'Bastiodon',
 'Bayleef',
 'Beartic',
 'Beautifly',
 'Beedrill',
 'Beheeyem',
 'Beldum',
 'Bellossom',
 'Bellsprout',
 'Bergmite',
 'Bibarel',
 'Bidoof',
 'Binacle',
 'Bisharp',
 'Blastoise',
 'Blaziken',
 'Blissey',
 'Blitzle',
 'Boldore',
 'Bonsly',
 'Bouffalant',
 'Braixen',
 'Braviary',
 'Breloom',
 'Bronzong',
 'Bronzor',
 'Budew',
 'Buizel',
 'Bulbasaur',
 'Buneary',
 'Bunnelby',
 'Burmy',
 'Butterfree',
 'Cacnea',
 'Cacturne',
 'Camerupt',
 'Carbink',
 'Carnivine',
 'Carracosta',
 'Carvanha',
 'Cascoon',
 'Castform',
 'Caterpie',
 'Celebi',
 'Chandelure',
 'Chansey',
 'Charizard',
 'Charmander',
 'Charmeleon',
 'Chatot',
 'Cherrim',
 'Cherubi',
 'Chesnaught',
 'Chespin',
 'Chikorita',
 'Chimchar',
 'Chimecho',
 'Chinchou',
 'Chingling',
 'Cinccino',
 'Clamperl',
 'Clauncher',
 'Clawitzer',
 'Claydol',
 'Clefable',
 'Clefairy',
 'Cleffa',
 'Cloyster',
 'Cobalion',
 'Cofagrigus',
 'Combee',
 'Combusken',
 'Conkeldurr',
 'Corphish',
 'Corsola',
 'Cottonee',
 'Cradily',
 'Cranidos',
 'Crawdaunt',
 'Cresselia',
 'Croagunk',
 'Crobat',
 'Croconaw',
 'Crustle',
 'Cryogonal',
 'Cubchoo',
 'Cubone',
 'Cyndaquil',
 'Darkrai',
 'DarmanitanStandard Mode',
 'DarmanitanZen Mode',
 'Darumaka',
 'Dedenne',
 'Deerling',
 'Deino',
 'Delcatty',
 'Delibird',
 'Delphox',
 'Dewgong',
 'Dewott',
 'Dialga',
 'Diancie',
 'Diggersby',
 'Diglett',
 'Ditto',
 'Dodrio',
 'Doduo',
 'Donphan',
 'Doublade',
 'Dragalge',
 'Dragonair',
 'Dragonite',
 'Drapion',
 'Dratini',
 'Drifblim',
 'Drifloon',
 'Drilbur',
 'Drowzee',
 'Druddigon',
 'Ducklett',
 'Dugtrio',
 'Dunsparce',
 'Duosion',
 'Durant',
 'Dusclops',
 'Dusknoir',
 'Duskull',
 'Dustox',
 'Dwebble',
 'Eelektrik',
 'Eelektross',
 'Eevee',
 'Ekans',
 'Electabuzz',
 'Electivire',
 'Electrike',
 'Electrode',
 'Elekid',
 'Elgyem',
 'Emboar',
 'Emolga',
 'Empoleon',
 'Entei',
 'Escavalier',
 'Espeon',
 'Espurr',
 'Excadrill',
 'Exeggcute',
 'Exeggutor',
 'Exploud',
 "Farfetch'd",
 'Fearow',
 'Feebas',
 'Fennekin',
 'Feraligatr',
 'Ferroseed',
 'Ferrothorn',
 'Finneon',
 'Flaaffy',
 'Flabébé',
 'Flareon',
 'Fletchinder',
 'Fletchling',
 'Floatzel',
 'Floette',
 'Florges',
 'Flygon',
 'Foongus',
 'Forretress',
 'Fraxure',
 'Frillish',
 'Froakie',
 'Frogadier',
 'Froslass',
 'Furfrou',
 'Furret',
 'Gabite',
 'Gallade',
 'Galvantula',
 'Garbodor',
 'Garchomp',
 'Gardevoir',
 'Gastly',
 'Gastrodon',
 'Genesect',
 'Gengar',
 'Geodude',
 'Gible',
 'Gigalith',
 'Girafarig',
 'Glaceon',
 'Glalie',
 'Glameow',
 'Gligar',
 'Gliscor',
 'Gloom',
 'Gogoat',
 'Golbat',
 'Goldeen',
 'Golduck',
 'Golem',
 'Golett',
 'Golurk',
 'Goodra',
 'Goomy',
 'Gorebyss',
 'Gothita',
 'Gothitelle',
 'Gothorita',
 'Granbull',
 'Graveler',
 'Greninja',
 'Grimer',
 'Grotle',
 'Groudon',
 'GroudonPrimal Groudon',
 'Grovyle',
 'Growlithe',
 'Grumpig',
 'Gulpin',
 'Gurdurr',
 'Gyarados',
 'Happiny',
 'Hariyama',
 'Haunter',
 'Hawlucha',
 'Haxorus',
 'Heatmor',
 'Heatran',
 'Heliolisk',
 'Helioptile',
 'Heracross',
 'Herdier',
 'Hippopotas',
 'Hippowdon',
 'Hitmonchan',
 'Hitmonlee',
 'Hitmontop',
 'Ho-oh',
 'Honchkrow',
 'Honedge',
 'Hoothoot',
 'Hoppip',
 'Horsea',
 'Houndoom',
 'Houndour',
 'Huntail',
 'Hydreigon',
 'Hypno',
 'Igglybuff',
 'Illumise',
 'Infernape',
 'Inkay',
 'Ivysaur',
 'Jellicent',
 'Jigglypuff',
 'Jirachi',
 'Jolteon',
 'Joltik',
 'Jumpluff',
 'Jynx',
 'Kabuto',
 'Kabutops',
 'Kadabra',
 'Kakuna',
 'Kangaskhan',
 'Karrablast',
 'Kecleon',
 'Kingdra',
 'Kingler',
 'Kirlia',
 'Klang',
 'Klefki',
 'Klink',
 'Klinklang',
 'Koffing',
 'Krabby',
 'Kricketot',
 'Kricketune',
 'Krokorok',
 'Krookodile',
 'Kyogre',
 'KyogrePrimal Kyogre',
 'Kyurem',
 'KyuremBlack Kyurem',
 'KyuremWhite Kyurem',
 'Lairon',
 'Lampent',
 'Lanturn',
 'Lapras',
 'Larvesta',
 'Larvitar',
 'Latias',
 'Latios',
 'Leafeon',
 'Leavanny',
 'Ledian',
 'Ledyba',
 'Lickilicky',
 'Lickitung',
 'Liepard',
 'Lileep',
 'Lilligant',
 'Lillipup',
 'Linoone',
 'Litleo',
 'Litwick',
 'Lombre',
 'Lopunny',
 'Lotad',
 'Loudred',
 'Lucario',
 'Ludicolo',
 'Lugia',
 'Lumineon',
 'Lunatone',
 'Luvdisc',
 'Luxio',
 'Luxray',
 'Machamp',
 'Machoke',
 'Machop',
 'Magby',
 'Magcargo',
 'Magikarp',
 'Magmar',
 'Magmortar',
 'Magnemite',
 'Magneton',
 'Magnezone',
 'Makuhita',
 'Malamar',
 'Mamoswine',
 'Manaphy',
 'Mandibuzz',
 'Manectric',
 'Mankey',
 'Mantine',
 'Mantyke',
 'Maractus',
 'Mareep',
 'Marill',
 'Marowak',
 'Marshtomp',
 'Masquerain',
 'Mawile',
 'Medicham',
 'Meditite',
 'MeowsticFemale',
 'MeowsticMale',
 'Meowth',
 'Mesprit',
 'Metagross',
 'Metang',
 'Metapod',
 'Mew',
 'Mewtwo',
 'Mienfoo',
 'Mienshao',
 'Mightyena',
 'Milotic',
 'Miltank',
 'Mime Jr.',
 'Minccino',
 'Minun',
 'Misdreavus',
 'Mismagius',
 'Moltres',
 'Monferno',
 'Mothim',
 'Mr. Mime',
 'Mudkip',
 'Muk',
 'Munchlax',
 'Munna',
 'Murkrow',
 'Musharna',
 'Natu',
 'Nidoking',
 'Nidoqueen',
 'Nidoran♀',
 'Nidoran♂',
 'Nidorina',
 'Nidorino',
 'Nincada',
 'Ninetales',
 'Ninjask',
 'Noctowl',
 'Noibat',
 'Noivern',
 'Nosepass',
 'Numel',
 'Nuzleaf',
 'Octillery',
 'Oddish',
 'Omanyte',
 'Omastar',
 'Onix',
 'Oshawott',
 'Pachirisu',
 'Palkia',
 'Palpitoad',
 'Pancham',
 'Pangoro',
 'Panpour',
 'Pansage',
 'Pansear',
 'Paras',
 'Parasect',
 'Patrat',
 'Pawniard',
 'Pelipper',
 'Persian',
 'Petilil',
 'Phanpy',
 'Phantump',
 'Phione',
 'Pichu',
 'Pidgeot',
 'Pidgeotto',
 'Pidgey',
 'Pidove',
 'Pignite',
 'Pikachu',
 'Piloswine',
 'Pineco',
 'Pinsir',
 'Piplup',
 'Plusle',
 'Politoed',
 'Poliwag',
 'Poliwhirl',
 'Poliwrath',
 'Ponyta',
 'Poochyena',
 'Porygon',
 'Porygon-Z',
 'Porygon2',
 'Primeape',
 'Prinplup',
 'Probopass',
 'Psyduck',
 'Pupitar',
 'Purrloin',
 'Purugly',
 'Pyroar',
 'Quagsire',
 'Quilava',
 'Quilladin',
 'Qwilfish',
 'Raichu',
 'Raikou',
 'Ralts',
 'Rampardos',
 'Rapidash',
 'Raticate',
 'Rattata',
 'Rayquaza',
 'Regice',
 'Regigigas',
 'Regirock',
 'Registeel',
 'Relicanth',
 'Remoraid',
 'Reshiram',
 'Reuniclus',
 'Rhydon',
 'Rhyhorn',
 'Rhyperior',
 'Riolu',
 'Roggenrola',
 'Roselia',
 'Roserade',
 'Rotom',
 'RotomFan Rotom',
 'RotomFrost Rotom',
 'RotomHeat Rotom',
 'RotomMow Rotom',
 'RotomWash Rotom',
 'Rufflet',
 'Sableye',
 'Salamence',
 'Samurott',
 'Sandile',
 'Sandshrew',
 'Sandslash',
 'Sawk',
 'Sawsbuck',
 'Scatterbug',
 'Sceptile',
 'Scizor',
 'Scolipede',
 'Scrafty',
 'Scraggy',
 'Scyther',
 'Seadra',
 'Seaking',
 'Sealeo',
 'Seedot',
 'Seel',
 'Seismitoad',
 'Sentret',
 'Serperior',
 'Servine',
 'Seviper',
 'Sewaddle',
 'Sharpedo',
 'Shedinja',
 'Shelgon',
 'Shellder',
 'Shellos',
 'Shelmet',
 'Shieldon',
 'Shiftry',
 'Shinx',
 'Shroomish',
 'Shuckle',
 'Shuppet',
 'Sigilyph',
 'Silcoon',
 'Simipour',
 'Simisage',
 'Simisear',
 'Skarmory',
 'Skiddo',
 'Skiploom',
 'Skitty',
 'Skorupi',
 'Skrelp',
 'Skuntank',
 'Slaking',
 'Slakoth',
 'Sliggoo',
 'Slowbro',
 'Slowking',
 'Slowpoke',
 'Slugma',
 'Slurpuff',
 'Smeargle',
 'Smoochum',
 'Sneasel',
 'Snivy',
 'Snorlax',
 'Snorunt',
 'Snover',
 'Snubbull',
 'Solosis',
 'Solrock',
 'Spearow',
 'Spewpa',
 'Spheal',
 'Spinarak',
 'Spinda',
 'Spiritomb',
 'Spoink',
 'Spritzee',
 'Squirtle',
 'Stantler',
 'Staraptor',
 'Staravia',
 'Starly',
 'Starmie',
 'Staryu',
 'Steelix',
 'Stoutland',
 'Stunfisk',
 'Stunky',
 'Sudowoodo',
 'Suicune',
 'Sunflora',
 'Sunkern',
 'Surskit',
 'Swablu',
 'Swadloon',
 'Swalot',
 'Swampert',
 'Swanna',
 'Swellow',
 'Swinub',
 'Swirlix',
 'Swoobat',
 'Sylveon',
 'Taillow',
 'Talonflame',
 'Tangela',
 'Tangrowth',
 'Tauros',
 'Teddiursa',
 'Tentacool',
 'Tentacruel',
 'Tepig',
 'Terrakion',
 'Throh',
 'Timburr',
 'Tirtouga',
 'Togekiss',
 'Togepi',
 'Togetic',
 'Torchic',
 'Torkoal',
 'Torterra',
 'Totodile',
 'Toxicroak',
 'Tranquill',
 'Trapinch',
 'Treecko',
 'Trevenant',
 'Tropius',
 'Trubbish',
 'Turtwig',
 'Tympole',
 'Tynamo',
 'Typhlosion',
 'Tyranitar',
 'Tyrantrum',
 'Tyrogue',
 'Tyrunt',
 'Umbreon',
 'Unfezant',
 'Unown',
 'Ursaring',
 'Uxie',
 'Vanillish',
 'Vanillite',
 'Vanilluxe',
 'Vaporeon',
 'Venipede',
 'Venomoth',
 'Venonat',
 'Venusaur',
 'Vespiquen',
 'Vibrava',
 'Victini',
 'Victreebel',
 'Vigoroth',
 'Vileplume',
 'Virizion',
 'Vivillon',
 'Volbeat',
 'Volcanion',
 'Volcarona',
 'Voltorb',
 'Vullaby',
 'Vulpix',
 'Wailmer',
 'Wailord',
 'Walrein',
 'Wartortle',
 'Watchog',
 'Weavile',
 'Weedle',
 'Weepinbell',
 'Weezing',
 'Whimsicott',
 'Whirlipede',
 'Whiscash',
 'Whismur',
 'Wigglytuff',
 'Wingull',
 'Wobbuffet',
 'Woobat',
 'Wooper',
 'WormadamPlant Cloak',
 'WormadamSandy Cloak',
 'WormadamTrash Cloak',
 'Wurmple',
 'Wynaut',
 'Xatu',
 'Xerneas',
 'Yamask',
 'Yanma',
 'Yanmega',
 'Yveltal',
 'Zangoose',
 'Zapdos',
 'Zebstrika',
 'Zekrom',
 'Zigzagoon',
 'Zoroark',
 'Zorua',
 'Zubat',
 'Zweilous']



primary_types = ['Grass',
 'Psychic',
 'Dark',
 'Bug',
 'Rock',
 'Steel',
 'Normal',
 'Psychic',
 'Water',
 'Dragon',
 'Rock',
 'Normal',
 'Grass',
 'Electric',
 'Rock',
 'Poison',
 'Fire',
 'Normal',
 'Rock',
 'Rock',
 'Bug',
 'Rock',
 'Fairy',
 'Steel',
 'Ice',
 'Normal',
 'Rock',
 'Ice',
 'Dragon',
 'Psychic',
 'Water',
 'Normal',
 'Dragon',
 'Ground',
 'Ghost',
 'Rock',
 'Water',
 'Water',
 'Rock',
 'Grass',
 'Ice',
 'Bug',
 'Bug',
 'Psychic',
 'Steel',
 'Grass',
 'Grass',
 'Ice',
 'Normal',
 'Normal',
 'Rock',
 'Dark',
 'Water',
 'Fire',
 'Normal',
 'Electric',
 'Rock',
 'Rock',
 'Normal',
 'Fire',
 'Normal',
 'Grass',
 'Steel',
 'Steel',
 'Grass',
 'Water',
 'Grass',
 'Normal',
 'Normal',
 'Bug',
 'Bug',
 'Grass',
 'Grass',
 'Fire',
 'Rock',
 'Grass',
 'Water',
 'Water',
 'Bug',
 'Normal',
 'Bug',
 'Psychic',
 'Ghost',
 'Normal',
 'Fire',
 'Fire',
 'Fire',
 'Normal',
 'Grass',
 'Grass',
 'Grass',
 'Grass',
 'Grass',
 'Fire',
 'Psychic',
 'Water',
 'Psychic',
 'Normal',
 'Water',
 'Water',
 'Water',
 'Ground',
 'Fairy',
 'Fairy',
 'Fairy',
 'Water',
 'Steel',
 'Ghost',
 'Bug',
 'Fire',
 'Fighting',
 'Water',
 'Water',
 'Grass',
 'Rock',
 'Rock',
 'Water',
 'Psychic',
 'Poison',
 'Poison',
 'Water',
 'Bug',
 'Ice',
 'Ice',
 'Ground',
 'Fire',
 'Dark',
 'Fire',
 'Fire',
 'Fire',
 'Electric',
 'Normal',
 'Dark',
 'Normal',
 'Ice',
 'Fire',
 'Water',
 'Water',
 'Steel',
 'Rock',
 'Normal',
 'Ground',
 'Normal',
 'Normal',
 'Normal',
 'Ground',
 'Steel',
 'Poison',
 'Dragon',
 'Dragon',
 'Poison',
 'Dragon',
 'Ghost',
 'Ghost',
 'Ground',
 'Psychic',
 'Dragon',
 'Water',
 'Ground',
 'Normal',
 'Psychic',
 'Bug',
 'Ghost',
 'Ghost',
 'Ghost',
 'Bug',
 'Bug',
 'Electric',
 'Electric',
 'Normal',
 'Poison',
 'Electric',
 'Electric',
 'Electric',
 'Electric',
 'Electric',
 'Psychic',
 'Fire',
 'Electric',
 'Water',
 'Fire',
 'Bug',
 'Psychic',
 'Psychic',
 'Ground',
 'Grass',
 'Grass',
 'Normal',
 'Normal',
 'Normal',
 'Water',
 'Fire',
 'Water',
 'Grass',
 'Grass',
 'Water',
 'Electric',
 'Fairy',
 'Fire',
 'Fire',
 'Normal',
 'Water',
 'Fairy',
 'Fairy',
 'Ground',
 'Grass',
 'Bug',
 'Dragon',
 'Water',
 'Water',
 'Water',
 'Ice',
 'Normal',
 'Normal',
 'Dragon',
 'Psychic',
 'Bug',
 'Poison',
 'Dragon',
 'Psychic',
 'Ghost',
 'Water',
 'Bug',
 'Ghost',
 'Rock',
 'Dragon',
 'Rock',
 'Normal',
 'Ice',
 'Ice',
 'Normal',
 'Ground',
 'Ground',
 'Grass',
 'Grass',
 'Poison',
 'Water',
 'Water',
 'Rock',
 'Ground',
 'Ground',
 'Dragon',
 'Dragon',
 'Water',
 'Psychic',
 'Psychic',
 'Psychic',
 'Fairy',
 'Rock',
 'Water',
 'Poison',
 'Grass',
 'Ground',
 'Ground',
 'Grass',
 'Fire',
 'Psychic',
 'Poison',
 'Fighting',
 'Water',
 'Normal',
 'Fighting',
 'Ghost',
 'Fighting',
 'Dragon',
 'Fire',
 'Fire',
 'Electric',
 'Electric',
 'Bug',
 'Normal',
 'Ground',
 'Ground',
 'Fighting',
 'Fighting',
 'Fighting',
 'Fire',
 'Dark',
 'Steel',
 'Normal',
 'Grass',
 'Water',
 'Dark',
 'Dark',
 'Water',
 'Dark',
 'Psychic',
 'Normal',
 'Bug',
 'Fire',
 'Dark',
 'Grass',
 'Water',
 'Normal',
 'Steel',
 'Electric',
 'Bug',
 'Grass',
 'Ice',
 'Rock',
 'Rock',
 'Psychic',
 'Bug',
 'Normal',
 'Bug',
 'Normal',
 'Water',
 'Water',
 'Psychic',
 'Steel',
 'Steel',
 'Steel',
 'Steel',
 'Poison',
 'Water',
 'Bug',
 'Bug',
 'Ground',
 'Ground',
 'Water',
 'Water',
 'Dragon',
 'Dragon',
 'Dragon',
 'Steel',
 'Ghost',
 'Water',
 'Water',
 'Bug',
 'Rock',
 'Dragon',
 'Dragon',
 'Grass',
 'Bug',
 'Bug',
 'Bug',
 'Normal',
 'Normal',
 'Dark',
 'Rock',
 'Grass',
 'Normal',
 'Normal',
 'Fire',
 'Ghost',
 'Water',
 'Normal',
 'Water',
 'Normal',
 'Fighting',
 'Water',
 'Psychic',
 'Water',
 'Rock',
 'Water',
 'Electric',
 'Electric',
 'Fighting',
 'Fighting',
 'Fighting',
 'Fire',
 'Fire',
 'Water',
 'Fire',
 'Fire',
 'Electric',
 'Electric',
 'Electric',
 'Fighting',
 'Dark',
 'Ice',
 'Water',
 'Dark',
 'Electric',
 'Fighting',
 'Water',
 'Water',
 'Grass',
 'Electric',
 'Water',
 'Ground',
 'Water',
 'Bug',
 'Steel',
 'Fighting',
 'Fighting',
 'Psychic',
 'Psychic',
 'Normal',
 'Psychic',
 'Steel',
 'Steel',
 'Bug',
 'Psychic',
 'Psychic',
 'Fighting',
 'Fighting',
 'Dark',
 'Water',
 'Normal',
 'Psychic',
 'Normal',
 'Electric',
 'Ghost',
 'Ghost',
 'Fire',
 'Fire',
 'Bug',
 'Psychic',
 'Water',
 'Poison',
 'Normal',
 'Psychic',
 'Dark',
 'Psychic',
 'Psychic',
 'Poison',
 'Poison',
 'Poison',
 'Poison',
 'Poison',
 'Poison',
 'Bug',
 'Fire',
 'Bug',
 'Normal',
 'Flying',
 'Flying',
 'Rock',
 'Fire',
 'Grass',
 'Water',
 'Grass',
 'Rock',
 'Rock',
 'Rock',
 'Water',
 'Electric',
 'Water',
 'Water',
 'Fighting',
 'Fighting',
 'Water',
 'Grass',
 'Fire',
 'Bug',
 'Bug',
 'Normal',
 'Dark',
 'Water',
 'Normal',
 'Grass',
 'Ground',
 'Ghost',
 'Water',
 'Electric',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Fire',
 'Electric',
 'Ice',
 'Bug',
 'Bug',
 'Water',
 'Electric',
 'Water',
 'Water',
 'Water',
 'Water',
 'Fire',
 'Dark',
 'Normal',
 'Normal',
 'Normal',
 'Fighting',
 'Water',
 'Rock',
 'Water',
 'Rock',
 'Dark',
 'Normal',
 'Fire',
 'Water',
 'Fire',
 'Grass',
 'Water',
 'Electric',
 'Electric',
 'Psychic',
 'Rock',
 'Fire',
 'Normal',
 'Normal',
 'Dragon',
 'Ice',
 'Normal',
 'Rock',
 'Steel',
 'Water',
 'Water',
 'Dragon',
 'Psychic',
 'Ground',
 'Ground',
 'Ground',
 'Fighting',
 'Rock',
 'Grass',
 'Grass',
 'Electric',
 'Electric',
 'Electric',
 'Electric',
 'Electric',
 'Electric',
 'Normal',
 'Dark',
 'Dragon',
 'Water',
 'Ground',
 'Ground',
 'Ground',
 'Fighting',
 'Normal',
 'Bug',
 'Grass',
 'Bug',
 'Bug',
 'Dark',
 'Dark',
 'Bug',
 'Water',
 'Water',
 'Ice',
 'Grass',
 'Water',
 'Water',
 'Normal',
 'Grass',
 'Grass',
 'Poison',
 'Bug',
 'Water',
 'Bug',
 'Dragon',
 'Water',
 'Water',
 'Bug',
 'Rock',
 'Grass',
 'Electric',
 'Grass',
 'Bug',
 'Ghost',
 'Psychic',
 'Bug',
 'Water',
 'Grass',
 'Fire',
 'Steel',
 'Grass',
 'Grass',
 'Normal',
 'Poison',
 'Poison',
 'Poison',
 'Normal',
 'Normal',
 'Dragon',
 'Water',
 'Water',
 'Water',
 'Fire',
 'Fairy',
 'Normal',
 'Ice',
 'Dark',
 'Grass',
 'Normal',
 'Ice',
 'Grass',
 'Fairy',
 'Psychic',
 'Rock',
 'Normal',
 'Bug',
 'Ice',
 'Bug',
 'Normal',
 'Ghost',
 'Psychic',
 'Fairy',
 'Water',
 'Normal',
 'Normal',
 'Normal',
 'Normal',
 'Water',
 'Water',
 'Steel',
 'Normal',
 'Ground',
 'Poison',
 'Rock',
 'Water',
 'Grass',
 'Grass',
 'Bug',
 'Normal',
 'Bug',
 'Poison',
 'Water',
 'Water',
 'Normal',
 'Ice',
 'Fairy',
 'Psychic',
 'Fairy',
 'Normal',
 'Fire',
 'Grass',
 'Grass',
 'Normal',
 'Normal',
 'Water',
 'Water',
 'Fire',
 'Rock',
 'Fighting',
 'Fighting',
 'Water',
 'Fairy',
 'Fairy',
 'Fairy',
 'Fire',
 'Fire',
 'Grass',
 'Water',
 'Poison',
 'Normal',
 'Ground',
 'Grass',
 'Ghost',
 'Grass',
 'Poison',
 'Grass',
 'Water',
 'Electric',
 'Fire',
 'Rock',
 'Rock',
 'Fighting',
 'Rock',
 'Dark',
 'Normal',
 'Psychic',
 'Normal',
 'Psychic',
 'Ice',
 'Ice',
 'Ice',
 'Water',
 'Bug',
 'Bug',
 'Bug',
 'Grass',
 'Bug',
 'Ground',
 'Psychic',
 'Grass',
 'Normal',
 'Grass',
 'Grass',
 'Bug',
 'Bug',
 'Fire',
 'Bug',
 'Electric',
 'Dark',
 'Fire',
 'Water',
 'Water',
 'Ice',
 'Water',
 'Normal',
 'Dark',
 'Bug',
 'Grass',
 'Poison',
 'Grass',
 'Bug',
 'Water',
 'Normal',
 'Normal',
 'Water',
 'Psychic',
 'Psychic',
 'Water',
 'Bug',
 'Bug',
 'Bug',
 'Bug',
 'Psychic',
 'Psychic',
 'Fairy',
 'Ghost',
 'Bug',
 'Bug',
 'Dark',
 'Normal',
 'Electric',
 'Electric',
 'Dragon',
 'Normal',
 'Dark',
 'Dark',
 'Poison',
 'Dark']

In [60]:
# Combine names and primary_types
names_type1 = [*zip(names, primary_types)]

print(*names_type1[:5], sep='\n')

('Abomasnow', 'Grass')
('Abra', 'Psychic')
('Absol', 'Dark')
('Accelgor', 'Bug')
('Aerodactyl', 'Rock')

In [61]:
# Combine five items from names and three items from primary_types
differing_lengths = [*zip(names[:4], primary_types[:3])]

print(*differing_lengths, sep='\n')

('Abomasnow', 'Grass')
('Abra', 'Psychic')
('Absol', 'Dark')

### Counting Pokémon from a sample

In [62]:
generations = [1,
 1,
 1,
 5,
 3,
 5,
 1,
 6,
 1,
 6,
 5,
 5,
 4,
 6,
 3,
 4,
 2,
 5,
 2,
 5,
 4,
 1,
 1,
 2,
 6,
 5,
 5,
 6,
 6,
 1,
 4,
 5,
 6,
 2,
 6,
 1,
 3,
 2,
 4,
 1,
 5,
 3,
 5,
 5,
 1,
 5,
 5,
 5,
 5,
 6,
 1,
 3,
 4,
 6,
 1,
 4,
 5,
 3,
 5,
 5,
 1,
 4,
 1,
 1,
 5,
 6,
 5,
 1,
 1,
 6,
 5,
 5,
 4,
 6,
 1,
 1,
 4,
 5,
 4,
 5,
 6,
 2,
 3,
 5,
 6,
 5,
 3,
 4,
 5,
 1,
 5,
 6,
 1,
 1,
 2,
 3,
 3,
 3,
 4,
 4,
 1,
 3,
 6,
 3,
 5,
 3,
 5,
 3,
 3,
 1,
 3,
 6,
 4,
 4,
 4,
 5,
 3,
 4,
 4,
 3,
 5,
 5,
 3,
 5,
 4,
 1,
 1,
 3,
 5,
 3,
 2,
 5,
 4,
 3,
 2,
 4,
 3,
 5,
 3,
 1,
 2,
 4,
 3,
 5,
 3,
 5,
 4,
 1,
 2,
 4,
 3,
 5,
 5,
 1,
 4,
 6,
 3,
 6,
 3,
 4,
 1,
 5,
 6,
 1,
 5,
 4,
 4,
 3,
 3,
 5,
 2,
 3,
 1,
 6,
 5,
 1,
 5,
 4,
 3,
 6,
 1,
 3,
 3,
 6,
 4,
 3,
 5,
 4,
 2,
 4,
 4,
 1,
 2,
 5,
 1,
 3,
 6,
 4,
 1,
 1,
 1,
 1,
 2,
 4,
 1,
 1,
 4,
 4,
 5,
 3,
 1,
 4,
 5,
 3,
 4,
 1,
 3,
 4,
 2,
 5,
 3,
 4,
 1,
 1,
 1,
 5,
 1,
 4,
 4,
 3,
 4,
 3,
 5,
 3,
 2,
 3,
 3,
 3,
 2,
 4,
 1,
 3,
 4,
 2,
 6,
 5,
 2,
 5,
 5,
 1,
 1,
 1,
 5,
 4,
 2,
 4,
 2,
 2,
 5,
 5,
 5,
 4,
 2,
 3,
 3,
 5,
 4,
 5,
 6,
 3,
 1,
 2,
 4,
 2,
 5,
 1,
 4,
 3,
 1,
 1,
 1,
 1,
 3,
 5,
 1,
 3,
 3,
 3,
 3,
 5,
 2,
 5,
 4,
 2,
 2,
 3,
 6,
 4,
 2,
 1,
 2,
 5,
 5,
 3,
 1,
 3,
 5,
 5,
 5,
 5,
 6,
 5,
 1,
 5,
 1,
 5,
 5,
 1,
 6,
 4,
 3,
 1,
 6,
 5,
 1,
 4,
 6,
 5,
 1,
 2,
 5,
 5,
 3,
 1,
 5,
 5,
 3,
 3,
 3,
 6,
 1,
 5,
 1,
 3,
 3,
 4,
 5,
 3,
 1,
 1,
 1,
 6,
 3,
 3,
 4,
 5,
 3,
 5,
 4,
 5,
 1,
 5,
 5,
 3,
 5,
 6,
 5,
 4,
 5,
 6,
 1,
 1,
 4,
 1,
 3,
 4,
 1,
 4,
 1,
 1,
 5,
 4,
 4,
 5,
 5,
 6,
 1,
 1,
 2,
 4,
 2,
 5,
 2,
 5,
 5,
 6,
 1,
 3,
 3,
 5,
 6,
 4,
 3,
 3,
 1,
 5,
 5,
 2,
 3,
 5,
 3,
 6,
 3,
 5,
 2,
 1,
 2,
 5,
 2,
 3,
 3,
 1,
 3,
 1,
 1,
 4,
 3,
 1,
 3,
 5,
 1,
 3,
 6,
 4,
 5,
 2,
 2,
 6,
 2,
 2,
 5,
 6,
 2,
 1,
 3,
 5,
 3,
 3,
 5,
 5,
 5,
 3,
 5,
 2,
 2,
 4,
 4,
 3,
 5,
 6,
 1,
 4,
 1,
 1,
 4,
 2,
 3,
 4,
 5,
 2,
 4,
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 1,
 2,
 3,
 5,
 5,
 6,
 4,
 3,
 5,
 5,
 5,
 6,
 1,
 2,
 3,
 1,
 5,
 6,
 2,
 1,
 3,
 5]

In [63]:
from collections import Counter

# Collect the count of primary types
type_count = Counter(primary_types)
print(type_count, '\n')

Counter({'Water': 105, 'Normal': 92, 'Bug': 65, 'Grass': 64, 'Fire': 48, 'Psychic': 46, 'Rock': 41, 'Electric': 40, 'Ground': 30, 'Dark': 28, 'Poison': 28, 'Dragon': 25, 'Fighting': 25, 'Ice': 23, 'Steel': 21, 'Ghost': 20, 'Fairy': 17, 'Flying': 2})

In [64]:
# Collect the count of generations
gen_count = Counter(generations)
print(gen_count, '\n')

Counter({5: 122, 3: 103, 1: 99, 4: 78, 2: 51, 6: 47})

In [65]:
# Use list comprehension to get each Pokémon's starting letter
starting_letters = [name[0] for name in names]

# Collect the count of Pokémon for each starting_letter
starting_letters_count = Counter(starting_letters)
print(starting_letters_count)

Counter({'S': 102, 'M': 58, 'C': 55, 'P': 47, 'G': 46, 'D': 41, 'B': 39, 'T': 35, 'L': 33, 'A': 32, 'R': 30, 'H': 27, 'F': 26, 'K': 25, 'W': 23, 'V': 22, 'E': 21, 'N': 16, 'Z': 9, 'J': 7, 'O': 6, 'I': 5, 'U': 5, 'Q': 4, 'Y': 4, 'X': 2})

### Combinations of Pokémon

In [66]:
pokemon = ['Geodude', 'Cubone', 'Lickitung', 'Persian', 'Diglett']

In [67]:
# Import combinations from itertools
from itertools import combinations

# Create a combination object with pairs of Pokémon
combos_obj = combinations(pokemon, 2)
print(type(combos_obj), '\n')

<class 'itertools.combinations'>

In [68]:
# Convert combos_obj to a list by unpacking
combos_2 = [*combos_obj]
print(combos_2, '\n')

[('Geodude', 'Cubone'), ('Geodude', 'Lickitung'), ('Geodude', 'Persian'), ('Geodude', 'Diglett'), ('Cubone', 'Lickitung'), ('Cubone', 'Persian'), ('Cubone', 'Diglett'), ('Lickitung', 'Persian'), ('Lickitung', 'Diglett'), ('Persian', 'Diglett')]

In [69]:
# Collect all possible combinations of 4 Pokémon directly into a list
combos_4 = [*combinations(pokemon, 4)]
print(combos_4)

[('Geodude', 'Cubone', 'Lickitung', 'Persian'), ('Geodude', 'Cubone', 'Lickitung', 'Diglett'), ('Geodude', 'Cubone', 'Persian', 'Diglett'), ('Geodude', 'Lickitung', 'Persian', 'Diglett'), ('Cubone', 'Lickitung', 'Persian', 'Diglett')]

## Set theory
### Comparing Pokédexes

In [70]:
ash_pokedex = ['Pikachu',
 'Bulbasaur',
 'Koffing',
 'Spearow',
 'Vulpix',
 'Wigglytuff',
 'Zubat',
 'Rattata',
 'Psyduck',
 'Squirtle']

misty_pokedex = ['Krabby',
 'Horsea',
 'Slowbro',
 'Tentacool',
 'Vaporeon',
 'Magikarp',
 'Poliwag',
 'Starmie',
 'Psyduck',
 'Squirtle']

brock_pokedex = ['Onix',
 'Geodude',
 'Zubat',
 'Golem',
 'Vulpix',
 'Tauros',
 'Kabutops',
 'Omastar',
 'Machop',
 'Dugtrio']

In [71]:
# Convert both lists to sets
ash_set = set(ash_pokedex)
misty_set = set(misty_pokedex)

# Find the Pokémon that exist in both sets
both = ash_set.intersection(misty_set)
print(both)

{'Squirtle', 'Psyduck'}

In [72]:
# Find the Pokémon that Ash has and Misty does not have
ash_only = ash_set.difference(misty_set)
print(ash_only)

{'Bulbasaur', 'Vulpix', 'Koffing', 'Wigglytuff', 'Zubat', 'Rattata', 'Spearow', 'Pikachu'}

In [73]:
# Find the Pokémon that are in only one set (not both)
unique_to_set = ash_set.symmetric_difference(misty_set)
print(unique_to_set)

{'Bulbasaur', 'Vulpix', 'Koffing', 'Wigglytuff', 'Zubat', 'Poliwag', 'Krabby', 'Rattata', 'Spearow', 'Tentacool', 'Horsea', 'Starmie', 'Vaporeon', 'Slowbro', 'Pikachu', 'Magikarp'}

### Searching for Pokémon

In [74]:
# Convert Brock's Pokédex to a set
brock_pokedex_set = set(brock_pokedex)
print(brock_pokedex_set)

{'Omastar', 'Vulpix', 'Tauros', 'Zubat', 'Geodude', 'Golem', 'Kabutops', 'Machop', 'Dugtrio', 'Onix'}

In [75]:
# Check if Psyduck is in Ash's list and Brock's set
print('Psyduck' in ash_pokedex)
print('Psyduck' in brock_pokedex_set)

True
False

In [76]:
# Check if Machop is in Ash's list and Brock's set
print('Machop' in ash_pokedex)
print('Machop' in brock_pokedex_set)

False
True

> Member testing using a set is faster than using a list in all four cases.

### Gathering unique Pokémon

In [77]:
# Use the provided function to collect unique Pokémon names
uniq_names_func = set(names)
print(len(uniq_names_func))

720

In [78]:
def find_unique_items(data):
    uniques = []

    for item in data:
        if item not in uniques:
            uniques.append(item)

    return uniques

In [79]:
# Use find_unique_items() to collect unique Pokémon names
uniq_names_func = find_unique_items(names)
print(len(uniq_names_func))

# Convert the names list to a set to collect unique Pokémon names
uniq_names_set = set(names)
print(len(uniq_names_set))

# Check that both unique collections are equivalent
print(sorted(uniq_names_func) == sorted(uniq_names_set))

720
720
True

In [80]:
# Use the best approach to collect unique primary types and generations
uniq_types = set(primary_types) 
uniq_gens = set(generations)
print(uniq_types, uniq_gens, sep='\n')

{'Fire', 'Grass', 'Steel', 'Fairy', 'Psychic', 'Water', 'Bug', 'Dragon', 'Ghost', 'Rock', 'Dark', 'Poison', 'Ground', 'Fighting', 'Normal', 'Electric', 'Flying', 'Ice'}
{1, 2, 3, 4, 5, 6}

> Using a set to collect unique values is faster.

## Eliminating loops
### Gathering Pokémon without a loop

In [81]:
gen1_gen2_name_lengths_loop = []

for name,gen in zip(names, generations):
    if gen < 3:
        name_length = len(name)
        poke_tuple = (name, name_length)
        gen1_gen2_name_lengths_loop.append(poke_tuple)

In [82]:
# Collect Pokémon that belong to generation 1 or generation 2
gen1_gen2_pokemon = [name for name,gen in zip(names, generations) if gen < 3]

# Create a map object that stores the name lengths
name_lengths_map = map(len, gen1_gen2_pokemon)

# Combine gen1_gen2_pokemon and name_lengths_map into a list
gen1_gen2_name_lengths = [*zip(gen1_gen2_pokemon, name_lengths_map)]

print(gen1_gen2_name_lengths_loop[:5])
print(gen1_gen2_name_lengths[:5])

[('Abomasnow', 9), ('Abra', 4), ('Absol', 5), ('Aipom', 5), ('Alomomola', 9)]
[('Abomasnow', 9), ('Abra', 4), ('Absol', 5), ('Aipom', 5), ('Alomomola', 9)]

### Pokémon totals and averages without a loop

In [85]:
stats = np.array([[ 90,  92,  75,  92,  85,  60],
       [ 25,  20,  15, 105,  55,  90],
       [ 65, 130,  60,  75,  60,  75],
       [ 40,  65,  40,  80,  40,  65],
       [ 40,  45,  35,  30,  40,  55],
       [ 72,  85,  70,  65,  70,  58]])

poke_list = [('Abomasnow', 494, 82.33333333333333),
 ('Abra', 310, 51.666666666666664),
 ('Absol', 465, 77.5),
 ('Accelgor', 495, 82.5),
 ('Aerodactyl', 515, 85.83333333333333),
 ('Aggron', 530, 88.33333333333333)]

In [86]:
# Create a total stats array
total_stats_np = stats.sum(axis=1)

# Create an average stats array
avg_stats_np = stats.mean(axis=1)

# Combine names, total_stats_np, and avg_stats_np into a list
poke_list_np = [*zip(names, total_stats_np, avg_stats_np)]

print(poke_list_np == poke_list, '\n')
print(poke_list_np[:3])
print(poke_list[:3], '\n')
top_3 = sorted(poke_list_np, key=lambda x: x[1], reverse=True)[:3]
print('3 strongest Pokémon:\n{}'.format(top_3))

False

[('Abomasnow', 494, 82.33333333333333), ('Abra', 310, 51.666666666666664), ('Absol', 465, 77.5)]
[('Abomasnow', 494, 82.33333333333333), ('Abra', 310, 51.666666666666664), ('Absol', 465, 77.5)]

3 strongest Pokémon:
[('Abomasnow', 494, 82.33333333333333), ('Absol', 465, 77.5), ('Aggron', 420, 70.0)]

## Writing better loops
### One-time calculation loop

In [87]:
# Import Counter
from collections import Counter

# Collect the count of each generation
gen_counts = Counter(generations)

# Improve for loop by moving one calculation above the loop
total_count = len(generations)

for gen,count in gen_counts.items():
    gen_percent = round(count / total_count * 100, 2)
    print('generation {}: count = {:3} percentage = {}'
          .format(gen, count, gen_percent))

generation 1: count =  99 percentage = 19.8
generation 5: count = 122 percentage = 24.4
generation 3: count = 103 percentage = 20.6
generation 6: count =  47 percentage = 9.4
generation 4: count =  78 percentage = 15.6
generation 2: count =  51 percentage = 10.2

### Holistic conversion loop

In [89]:
pokemon_types = ['Bug',
 'Dark',
 'Dragon',
 'Electric',
 'Fairy',
 'Fighting',
 'Fire',
 'Flying',
 'Ghost',
 'Grass',
 'Ground',
 'Ice',
 'Normal',
 'Poison',
 'Psychic',
 'Rock',
 'Steel',
 'Water']

In [90]:
# Collect all possible pairs using combinations()
possible_pairs = [*combinations(pokemon_types, 2)]

# Create an empty list called enumerated_tuples
enumerated_tuples = []

# Append each enumerated_pair_tuple to the empty list above
for i,pair in enumerate(possible_pairs, 1):
    enumerated_pair_tuple = (i,) + pair
    enumerated_tuples.append(enumerated_pair_tuple)

# Convert all tuples in enumerated_tuples to a list
enumerated_pairs = [*map(list, enumerated_tuples)]
print(enumerated_pairs)

[[1, 'Bug', 'Dark'], [2, 'Bug', 'Dragon'], [3, 'Bug', 'Electric'], [4, 'Bug', 'Fairy'], [5, 'Bug', 'Fighting'], [6, 'Bug', 'Fire'], [7, 'Bug', 'Flying'], [8, 'Bug', 'Ghost'], [9, 'Bug', 'Grass'], [10, 'Bug', 'Ground'], [11, 'Bug', 'Ice'], [12, 'Bug', 'Normal'], [13, 'Bug', 'Poison'], [14, 'Bug', 'Psychic'], [15, 'Bug', 'Rock'], [16, 'Bug', 'Steel'], [17, 'Bug', 'Water'], [18, 'Dark', 'Dragon'], [19, 'Dark', 'Electric'], [20, 'Dark', 'Fairy'], [21, 'Dark', 'Fighting'], [22, 'Dark', 'Fire'], [23, 'Dark', 'Flying'], [24, 'Dark', 'Ghost'], [25, 'Dark', 'Grass'], [26, 'Dark', 'Ground'], [27, 'Dark', 'Ice'], [28, 'Dark', 'Normal'], [29, 'Dark', 'Poison'], [30, 'Dark', 'Psychic'], [31, 'Dark', 'Rock'], [32, 'Dark', 'Steel'], [33, 'Dark', 'Water'], [34, 'Dragon', 'Electric'], [35, 'Dragon', 'Fairy'], [36, 'Dragon', 'Fighting'], [37, 'Dragon', 'Fire'], [38, 'Dragon', 'Flying'], [39, 'Dragon', 'Ghost'], [40, 'Dragon', 'Grass'], [41, 'Dragon', 'Ground'], [42, 'Dragon', 'Ice'], [43, 'Dragon', 'Normal'], [44, 'Dragon', 'Poison'], [45, 'Dragon', 'Psychic'], [46, 'Dragon', 'Rock'], [47, 'Dragon', 'Steel'], [48, 'Dragon', 'Water'], [49, 'Electric', 'Fairy'], [50, 'Electric', 'Fighting'], [51, 'Electric', 'Fire'], [52, 'Electric', 'Flying'], [53, 'Electric', 'Ghost'], [54, 'Electric', 'Grass'], [55, 'Electric', 'Ground'], [56, 'Electric', 'Ice'], [57, 'Electric', 'Normal'], [58, 'Electric', 'Poison'], [59, 'Electric', 'Psychic'], [60, 'Electric', 'Rock'], [61, 'Electric', 'Steel'], [62, 'Electric', 'Water'], [63, 'Fairy', 'Fighting'], [64, 'Fairy', 'Fire'], [65, 'Fairy', 'Flying'], [66, 'Fairy', 'Ghost'], [67, 'Fairy', 'Grass'], [68, 'Fairy', 'Ground'], [69, 'Fairy', 'Ice'], [70, 'Fairy', 'Normal'], [71, 'Fairy', 'Poison'], [72, 'Fairy', 'Psychic'], [73, 'Fairy', 'Rock'], [74, 'Fairy', 'Steel'], [75, 'Fairy', 'Water'], [76, 'Fighting', 'Fire'], [77, 'Fighting', 'Flying'], [78, 'Fighting', 'Ghost'], [79, 'Fighting', 'Grass'], [80, 'Fighting', 'Ground'], [81, 'Fighting', 'Ice'], [82, 'Fighting', 'Normal'], [83, 'Fighting', 'Poison'], [84, 'Fighting', 'Psychic'], [85, 'Fighting', 'Rock'], [86, 'Fighting', 'Steel'], [87, 'Fighting', 'Water'], [88, 'Fire', 'Flying'], [89, 'Fire', 'Ghost'], [90, 'Fire', 'Grass'], [91, 'Fire', 'Ground'], [92, 'Fire', 'Ice'], [93, 'Fire', 'Normal'], [94, 'Fire', 'Poison'], [95, 'Fire', 'Psychic'], [96, 'Fire', 'Rock'], [97, 'Fire', 'Steel'], [98, 'Fire', 'Water'], [99, 'Flying', 'Ghost'], [100, 'Flying', 'Grass'], [101, 'Flying', 'Ground'], [102, 'Flying', 'Ice'], [103, 'Flying', 'Normal'], [104, 'Flying', 'Poison'], [105, 'Flying', 'Psychic'], [106, 'Flying', 'Rock'], [107, 'Flying', 'Steel'], [108, 'Flying', 'Water'], [109, 'Ghost', 'Grass'], [110, 'Ghost', 'Ground'], [111, 'Ghost', 'Ice'], [112, 'Ghost', 'Normal'], [113, 'Ghost', 'Poison'], [114, 'Ghost', 'Psychic'], [115, 'Ghost', 'Rock'], [116, 'Ghost', 'Steel'], [117, 'Ghost', 'Water'], [118, 'Grass', 'Ground'], [119, 'Grass', 'Ice'], [120, 'Grass', 'Normal'], [121, 'Grass', 'Poison'], [122, 'Grass', 'Psychic'], [123, 'Grass', 'Rock'], [124, 'Grass', 'Steel'], [125, 'Grass', 'Water'], [126, 'Ground', 'Ice'], [127, 'Ground', 'Normal'], [128, 'Ground', 'Poison'], [129, 'Ground', 'Psychic'], [130, 'Ground', 'Rock'], [131, 'Ground', 'Steel'], [132, 'Ground', 'Water'], [133, 'Ice', 'Normal'], [134, 'Ice', 'Poison'], [135, 'Ice', 'Psychic'], [136, 'Ice', 'Rock'], [137, 'Ice', 'Steel'], [138, 'Ice', 'Water'], [139, 'Normal', 'Poison'], [140, 'Normal', 'Psychic'], [141, 'Normal', 'Rock'], [142, 'Normal', 'Steel'], [143, 'Normal', 'Water'], [144, 'Poison', 'Psychic'], [145, 'Poison', 'Rock'], [146, 'Poison', 'Steel'], [147, 'Poison', 'Water'], [148, 'Psychic', 'Rock'], [149, 'Psychic', 'Steel'], [150, 'Psychic', 'Water'], [151, 'Rock', 'Steel'], [152, 'Rock', 'Water'], [153, 'Steel', 'Water']]

### Bringing it all together: Pokémon z-scores

In [91]:
hps = np.array([ 80.,  60., 131.,  62.,  71., 109.,  45.,  53.,  73.,  60.,  37.,
        63.,  59.,  84.,  25.,  50.,  98., 116.,  29.,  85.,  43.,  46.,
        46.,  57.,  94.,  87.,  70.,  59.,  68.,  65.,  89.,  52.,  68.,
        66.,  67.,  75.,  73., 103.,  66., 109.,  60.,  56.,  71.,  77.,
        75., 102.,  98.,  81.,  60.,  66., 105.,  74.,  34.,  50.,  53.,
        98.,  65., 127.,  85.,  71.,  57.,  93.,  62.,  47.,  83.,  69.,
        99.,  66.,   1.,  89.,  20., 108., 115.,  57.,  38.,  32.,  91.,
        63.,  53.,  62., 122.,  77.,  87.,  88.,  95.,  96.,  50.,  63.,
        49.,  50.,  98.,  55.,  66.,  50.,  53.,  89.,  57.,  56.,  81.,
        81.,  89.,  73.,  23.,  85.,  81.,  95.,  46., 133.,  36.,  87.,
        69.,  56.,  89.,  61.,   8.,  38.,  80., 126.,  30.,  68., 106.,
        84.,  59.,  32.,  22.,  49.,  59.,  10.,  24.,  76.,  58.,  49.,
        58.,  47.,  92., 111., 122.,  87.,  88., 106., 113., 106., 100.,
        52.,  27.,  91.,  66.,  67.,  45.,  35., 104.,  80.,  41.,  78.,
        76.,  82., 126.,  67.,  35.,  69.,  52.,  82.,  74.,  77.,  54.,
        79.,  55.,  82.,  60.,  39.,  81.,  50., 106.,  80.,  80.,  71.,
        67.,   7., 100.,  47.,  93.,  52.,  65.,  62.,  41.,  64.,  81.,
        58.,  36.,  53.,  75.,  98.,  90.,  76.,  43.,  92.,  69.,  62.,
        92.,  84.,  81.,  38.,  52.,  24.,  73.,  69.,  92.,  74.,  59.,
       123.,  42.,  34.,  52.,  82.,  59.,  57.,  39., 106.,  52.,  40.,
        65.,  47.,  62., 103.,  57.,  67.,  59.,  63.,  89.,  82.,  59.,
        44.,  65.,  90.,  68.,  65.,  22.,  94.,  30.,  35.,  59.,  69.,
        69.,  48.,  60.,  53.,  21.,  62.,  50.,  79.,  64.,  93.,  86.,
        91.,  99.,  86.,  64., 103.,  44.,  67.,  90.,  61.,  87.,  47.,
        54.,  82.,  87.,  99.,  66.,  76.,  84.,  80.,  35.,  54., 105.,
        36.,  84.,  57.,  94.,  48.,  69.,  16.,  67.,  96.,  29.,  99.,
        50.,  67.,   1.,  96.,  46.,  54.,  35.,  43.,  98.,  55.,  91.,
        64.,  77.,  55.,  79., 135.,  85.,  81.,  56.,  94., 103.,  24.,
        33., 123.,  79.,  72.,  83.,  97.,  89.,  62., 122.,  69.,  46.,
        54.,  65.,  58.,  63.,  76.,   1.,  48.,  93.,  83.,  51.,  52.,
        98.,  62.,  55., 116.,  59.,  86.,  67.,  70.,  44.,  47., 101.,
        39.,  75.,  37.,  62.,  67.,  26.,  98.,  63., 100.,  44.,  92.,
       129.,  74.,  52.,  81.,  72.,  63.,  65.,  53.,  79.,  58.,  46.,
        89.,  64., 137.,  62.,  50.,  54.,  78.,  50.,  36., 111.,  36.,
       107.,  72.,  41., 111.,  63.,  42.,  70., 101.,  86.,  90., 114.,
        74.,  78.,  62.,  31.,  64., 110.,  24., 103.,  75.,  45.,  70.,
       114.,  53.,  89.,  97.,  45.,  85.,  82.,  56.,  86.,  59.,  53.,
        36.,  78.,  57.,  54.,  39.,  33.,  48.,  87.,  47., 106.,  79.,
        72.,  37., 119.,  31.,  82., 112.,  63.,  51.,  68.,  92., 103.,
        84.,  41.,  51.,  73.,  35.,  62., 126.,  41.,  98.,  44.,  59.,
        66.,  29.,  66., 102.,  87.,  86.,  47.,  64.,  73.,  86., 103.,
        42., 112.,  61.,  62.,  37.,  66.,  62.,  36.,  61.,  71.,  58.,
        88.,  42.,  91.,  63.,  78.,  21.,  72.,  67.,  92.,  38., 103.,
        40., 102.,  83.,  49., 124.,  37.,  64.,  74.,  82.,  74.,  89.,
        80.,  69.,  44.,  59.,  92.,  38.,  71.,  15.,  50.,  26., 100.,
        21.,  62.,  87.,  84.,  88.,  96.,  80.,  90.,  67.,  68.,  23.,
        73., 101.,  49.,  38.,  71.,  98.,  99.,  29.,  80.,  51.,  75.,
        10.,  92.,  58.,  74.,  64.,  42.,  82.,  56.,  50.,  85.,  66.,
        50.,  92.,  53.,  67.,  87.,  93.,  99., 111.,  69.,  48., 111.,
       104.,  60.,  86.,  58.,  28.,  95.,  77.,  71., 112., 105.,  52.,
        40.,  19.,  68.,  58.,  78.,  69.,  51.,  58.,  28., 100.,  54.,
        84.,  51.,  70.,  84.,  61.,  47., 128.,  63.,  83.,  66.,  48.,
       102.,  78.,  77.,   9.,  76.,  90.,  76.,  64.,  99.,  75.,  83.,
        95.,  94.,  34.,  77.,  49.,  16.,  76.,  23.,  56.,   3.,  42.,
        56.,  68.,  54.,  44.,  45., 108.,  56.,  66., 117.,  23.,  15.,
        42.,  58.,  39.,  67.,  66.,  28.,  72.,  31.,  86.,  74., 125.,
        89.,  63.,  77.,  72.,  49.,  31.,  96., 107.,  56.,  61.,  56.,
        94.,  99.,  46.,  59.,  54.,  74.,  88.,  96.,  61.,  43.,  82.,
        83.,  59.,  72.,  77.,  91.,  70.,  81.,  73.,  43.,  86.,  71.,
        95.,  38.,  50.,  77.,  24.,  65.,  57.,  57.,  62.,  11.,  69.,
        70.,  95., 106.,  77.,  92.,   6.,  82.,  97.,  91.,  74.,  59.,
        59.,  69.,  79.,  83.,  66.,  36., 115.,  46.,   1., 105.,  94.,
        73.,  93.,  80.,  47.,  71.,  36.,  51.,  46.,  72.,  96.,  52.,
        80.,  13.,  41.,  82.,  93.,  93.,  96.,  26.,  55.,   2.,  64.,
        74.,  59.,  44.,  79.,  82.,  72.,  53.,  69.,  70.,  75.,  84.,
        68.,  31.,  61.,  78.,  57.])

In [92]:
# Calculate the total HP avg and total HP standard deviation
hp_avg = hps.mean()
hp_std = hps.std()

# Use NumPy to eliminate the previous for loop
z_scores = (hps - hp_avg)/hp_std

# Combine names, hps, and z_scores
poke_zscores2 = [*zip(names, hps, z_scores)]
print(*poke_zscores2[:3], sep='\n')

('Abomasnow', 80.0, 0.46797638117739043)
('Abra', 60.0, -0.3271693284337512)
('Absol', 131.0, 2.4955979406858013)

In [93]:
# Use list comprehension with the same logic as the highest_hp_pokemon code block
highest_hp_pokemon2 = [(name,hp,zscore) for name,hp,zscore  in poke_zscores2 if zscore > 2]
print(*highest_hp_pokemon2, sep='\n')

('Absol', 131.0, 2.4955979406858013)
('Bonsly', 127.0, 2.3365687987635733)
('Caterpie', 122.0, 2.137782371360788)
('Cofagrigus', 133.0, 2.575112511646916)
('Cresselia', 126.0, 2.296811513283016)
('Dewgong', 122.0, 2.137782371360788)
('Druddigon', 126.0, 2.296811513283016)
('Froakie', 123.0, 2.1775396568413448)
('Kadabra', 135.0, 2.65462708260803)
('Klang', 123.0, 2.1775396568413448)
('Kricketune', 122.0, 2.137782371360788)
('Lumineon', 129.0, 2.4160833697246873)
('Magnemite', 137.0, 2.734141653569144)
('Nidorina', 119.0, 2.0185105149191167)
('Onix', 126.0, 2.296811513283016)
('Prinplup', 124.0, 2.217296942321902)
('Skuntank', 128.0, 2.3763260842441305)
('Swellow', 125.0, 2.2570542278024592)

> The total time for executing the updated solution using NumPy and list comprehension was faster.
# 4. Basic pandas optimizations

## Intro to pandas DataFrame iteration
### Iterating with .iterrows()

In [95]:
import pandas as pd
baseball = pd.read_csv('baseball_stats.csv')
baseball.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424

In [96]:
pit_df = baseball[baseball['Team'] == 'PIT']
pit_df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
21,PIT,NL,2012,651,674,79,0.304,0.395,0.243,0,NaN,NaN,162,0.314,0.390
51,PIT,NL,2011,610,712,72,0.309,0.368,0.244,0,NaN,NaN,162,0.338,0.409
81,PIT,NL,2010,587,866,57,0.304,0.373,0.242,0,NaN,NaN,162,0.348,0.449
111,PIT,NL,2009,636,768,62,0.318,0.387,0.252,0,NaN,NaN,161,0.346,0.442
141,PIT,NL,2008,735,884,67,0.320,0.403,0.258,0,NaN,NaN,162,0.362,0.454

In [104]:
# Iterate over pit_df and print each row
for i,row in pit_df.iterrows():
    print(row[0])

PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT
PIT

In [105]:
# Iterate over pit_df and print each index variable and then each row
for i,row in pit_df.iterrows():
    print(type(row))
    print(row)
    print(type(i))

<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             2012
RS                651
RA                674
W                  79
OBP             0.304
SLG             0.395
BA              0.243
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.314
OSLG             0.39
Name: 21, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             2011
RS                610
RA                712
W                  72
OBP             0.309
SLG             0.368
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.338
OSLG            0.409
Name: 51, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             2010
RS                587
RA                866
W                  57
OBP             0.304
SLG             0.373
BA              0.242
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.348
OSLG            0.449
Name: 81, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             2009
RS                636
RA                768
W                  62
OBP             0.318
SLG             0.387
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.346
OSLG            0.442
Name: 111, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             2008
RS                735
RA                884
W                  67
OBP              0.32
SLG             0.403
BA              0.258
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.362
OSLG            0.454
Name: 141, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             2007
RS                724
RA                846
W                  68
OBP             0.325
SLG             0.411
BA              0.263
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.352
OSLG            0.447
Name: 171, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             2006
RS                691
RA                797
W                  67
OBP             0.327
SLG             0.397
BA              0.263
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.357
OSLG            0.431
Name: 201, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             2005
RS                680
RA                769
W                  67
OBP             0.322
SLG               0.4
BA              0.259
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.344
OSLG            0.424
Name: 231, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             2004
RS                680
RA                744
W                  72
OBP             0.321
SLG             0.401
BA               0.26
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.342
OSLG            0.416
Name: 262, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             2003
RS                753
RA                801
W                  75
OBP             0.338
SLG              0.42
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.336
OSLG            0.431
Name: 292, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             2002
RS                641
RA                730
W                  72
OBP             0.319
SLG             0.381
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.342
OSLG            0.423
Name: 322, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             2001
RS                657
RA                858
W                  62
OBP             0.313
SLG             0.393
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.344
OSLG            0.433
Name: 352, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             2000
RS                793
RA                888
W                  69
OBP             0.339
SLG             0.424
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.361
OSLG            0.432
Name: 382, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1999
RS                775
RA                782
W                  78
OBP             0.334
SLG             0.419
BA              0.259
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.343
OSLG             0.42
Name: 412, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1998
RS                650
RA                718
W                  69
OBP             0.311
SLG             0.374
BA              0.254
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
Name: 442, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1997
RS                725
RA                760
W                  79
OBP             0.329
SLG             0.404
BA              0.262
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 471, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1996
RS                776
RA                833
W                  73
OBP             0.329
SLG             0.407
BA              0.266
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 499, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1993
RS                707
RA                806
W                  75
OBP             0.335
SLG             0.393
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 527, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1992
RS                693
RA                595
W                  96
OBP             0.324
SLG             0.381
BA              0.255
Playoffs            1
RankSeason        2.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 553, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1991
RS                768
RA                632
W                  98
OBP             0.338
SLG             0.398
BA              0.263
Playoffs            1
RankSeason        1.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 579, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1990
RS                733
RA                619
W                  95
OBP              0.33
SLG             0.405
BA              0.259
Playoffs            1
RankSeason        2.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 605, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1989
RS                637
RA                680
W                  74
OBP             0.311
SLG             0.359
BA              0.241
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 164
OOBP              NaN
OSLG              NaN
Name: 631, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1988
RS                651
RA                616
W                  85
OBP             0.317
SLG             0.369
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 160
OOBP              NaN
OSLG              NaN
Name: 657, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1987
RS                723
RA                744
W                  80
OBP              0.33
SLG             0.403
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 683, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1986
RS                663
RA                700
W                  64
OBP             0.321
SLG             0.374
BA               0.25
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 709, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1985
RS                568
RA                708
W                  57
OBP             0.311
SLG             0.347
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
Name: 735, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1984
RS                615
RA                567
W                  75
OBP              0.31
SLG             0.363
BA              0.255
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 761, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1983
RS                659
RA                648
W                  84
OBP             0.325
SLG             0.383
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 787, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1982
RS                724
RA                696
W                  84
OBP             0.327
SLG             0.408
BA              0.273
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 813, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1980
RS                666
RA                646
W                  83
OBP             0.322
SLG             0.388
BA              0.266
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 839, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1979
RS                775
RA                643
W                  98
OBP              0.33
SLG             0.416
BA              0.272
Playoffs            1
RankSeason        2.0
RankPlayoffs      1.0
G                 163
OOBP              NaN
OSLG              NaN
Name: 865, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1978
RS                684
RA                637
W                  88
OBP              0.32
SLG             0.385
BA              0.257
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
Name: 891, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1977
RS                734
RA                665
W                  96
OBP             0.331
SLG             0.413
BA              0.274
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 917, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1976
RS                708
RA                630
W                  92
OBP             0.321
SLG             0.391
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 943, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1975
RS                712
RA                565
W                  92
OBP             0.323
SLG             0.402
BA              0.263
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 161
OOBP              NaN
OSLG              NaN
Name: 967, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1974
RS                751
RA                657
W                  88
OBP             0.335
SLG             0.391
BA              0.274
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 991, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1973
RS                704
RA                693
W                  80
OBP             0.315
SLG             0.405
BA              0.261
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1015, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1971
RS                788
RA                599
W                  97
OBP              0.33
SLG             0.416
BA              0.274
Playoffs            1
RankSeason        2.0
RankPlayoffs      1.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 1039, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1970
RS                729
RA                664
W                  89
OBP             0.325
SLG             0.406
BA               0.27
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 1063, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1969
RS                725
RA                652
W                  88
OBP             0.334
SLG             0.398
BA              0.277
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1086, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1968
RS                583
RA                532
W                  80
OBP             0.306
SLG             0.343
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
Name: 1108, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1967
RS                679
RA                693
W                  81
OBP             0.324
SLG              0.38
BA              0.277
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
Name: 1128, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1966
RS                759
RA                641
W                  92
OBP             0.329
SLG             0.428
BA              0.279
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1148, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1965
RS                675
RA                580
W                  90
OBP             0.317
SLG             0.382
BA              0.265
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
Name: 1168, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1964
RS                663
RA                636
W                  80
OBP             0.315
SLG             0.389
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1188, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1963
RS                567
RA                595
W                  74
OBP             0.309
SLG             0.359
BA               0.25
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1208, dtype: object
<class 'int'>
<class 'pandas.core.series.Series'>
Team              PIT
League             NL
Year             1962
RS                706
RA                626
W                  93
OBP             0.321
SLG             0.394
BA              0.268
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
Name: 1228, dtype: object
<class 'int'>

In [106]:
# Use one variable instead of two to store the result of .iterrows()
for row_tuple in pit_df.iterrows():
    print(row_tuple)

(21, Team              PIT
League             NL
Year             2012
RS                651
RA                674
W                  79
OBP             0.304
SLG             0.395
BA              0.243
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.314
OSLG             0.39
Name: 21, dtype: object)
(51, Team              PIT
League             NL
Year             2011
RS                610
RA                712
W                  72
OBP             0.309
SLG             0.368
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.338
OSLG            0.409
Name: 51, dtype: object)
(81, Team              PIT
League             NL
Year             2010
RS                587
RA                866
W                  57
OBP             0.304
SLG             0.373
BA              0.242
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.348
OSLG            0.449
Name: 81, dtype: object)
(111, Team              PIT
League             NL
Year             2009
RS                636
RA                768
W                  62
OBP             0.318
SLG             0.387
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.346
OSLG            0.442
Name: 111, dtype: object)
(141, Team              PIT
League             NL
Year             2008
RS                735
RA                884
W                  67
OBP              0.32
SLG             0.403
BA              0.258
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.362
OSLG            0.454
Name: 141, dtype: object)
(171, Team              PIT
League             NL
Year             2007
RS                724
RA                846
W                  68
OBP             0.325
SLG             0.411
BA              0.263
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.352
OSLG            0.447
Name: 171, dtype: object)
(201, Team              PIT
League             NL
Year             2006
RS                691
RA                797
W                  67
OBP             0.327
SLG             0.397
BA              0.263
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.357
OSLG            0.431
Name: 201, dtype: object)
(231, Team              PIT
League             NL
Year             2005
RS                680
RA                769
W                  67
OBP             0.322
SLG               0.4
BA              0.259
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.344
OSLG            0.424
Name: 231, dtype: object)
(262, Team              PIT
League             NL
Year             2004
RS                680
RA                744
W                  72
OBP             0.321
SLG             0.401
BA               0.26
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.342
OSLG            0.416
Name: 262, dtype: object)
(292, Team              PIT
League             NL
Year             2003
RS                753
RA                801
W                  75
OBP             0.338
SLG              0.42
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.336
OSLG            0.431
Name: 292, dtype: object)
(322, Team              PIT
League             NL
Year             2002
RS                641
RA                730
W                  72
OBP             0.319
SLG             0.381
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.342
OSLG            0.423
Name: 322, dtype: object)
(352, Team              PIT
League             NL
Year             2001
RS                657
RA                858
W                  62
OBP             0.313
SLG             0.393
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.344
OSLG            0.433
Name: 352, dtype: object)
(382, Team              PIT
League             NL
Year             2000
RS                793
RA                888
W                  69
OBP             0.339
SLG             0.424
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.361
OSLG            0.432
Name: 382, dtype: object)
(412, Team              PIT
League             NL
Year             1999
RS                775
RA                782
W                  78
OBP             0.334
SLG             0.419
BA              0.259
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.343
OSLG             0.42
Name: 412, dtype: object)
(442, Team              PIT
League             NL
Year             1998
RS                650
RA                718
W                  69
OBP             0.311
SLG             0.374
BA              0.254
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
Name: 442, dtype: object)
(471, Team              PIT
League             NL
Year             1997
RS                725
RA                760
W                  79
OBP             0.329
SLG             0.404
BA              0.262
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 471, dtype: object)
(499, Team              PIT
League             NL
Year             1996
RS                776
RA                833
W                  73
OBP             0.329
SLG             0.407
BA              0.266
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 499, dtype: object)
(527, Team              PIT
League             NL
Year             1993
RS                707
RA                806
W                  75
OBP             0.335
SLG             0.393
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 527, dtype: object)
(553, Team              PIT
League             NL
Year             1992
RS                693
RA                595
W                  96
OBP             0.324
SLG             0.381
BA              0.255
Playoffs            1
RankSeason        2.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 553, dtype: object)
(579, Team              PIT
League             NL
Year             1991
RS                768
RA                632
W                  98
OBP             0.338
SLG             0.398
BA              0.263
Playoffs            1
RankSeason        1.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 579, dtype: object)
(605, Team              PIT
League             NL
Year             1990
RS                733
RA                619
W                  95
OBP              0.33
SLG             0.405
BA              0.259
Playoffs            1
RankSeason        2.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 605, dtype: object)
(631, Team              PIT
League             NL
Year             1989
RS                637
RA                680
W                  74
OBP             0.311
SLG             0.359
BA              0.241
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 164
OOBP              NaN
OSLG              NaN
Name: 631, dtype: object)
(657, Team              PIT
League             NL
Year             1988
RS                651
RA                616
W                  85
OBP             0.317
SLG             0.369
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 160
OOBP              NaN
OSLG              NaN
Name: 657, dtype: object)
(683, Team              PIT
League             NL
Year             1987
RS                723
RA                744
W                  80
OBP              0.33
SLG             0.403
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 683, dtype: object)
(709, Team              PIT
League             NL
Year             1986
RS                663
RA                700
W                  64
OBP             0.321
SLG             0.374
BA               0.25
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 709, dtype: object)
(735, Team              PIT
League             NL
Year             1985
RS                568
RA                708
W                  57
OBP             0.311
SLG             0.347
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
Name: 735, dtype: object)
(761, Team              PIT
League             NL
Year             1984
RS                615
RA                567
W                  75
OBP              0.31
SLG             0.363
BA              0.255
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 761, dtype: object)
(787, Team              PIT
League             NL
Year             1983
RS                659
RA                648
W                  84
OBP             0.325
SLG             0.383
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 787, dtype: object)
(813, Team              PIT
League             NL
Year             1982
RS                724
RA                696
W                  84
OBP             0.327
SLG             0.408
BA              0.273
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 813, dtype: object)
(839, Team              PIT
League             NL
Year             1980
RS                666
RA                646
W                  83
OBP             0.322
SLG             0.388
BA              0.266
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 839, dtype: object)
(865, Team              PIT
League             NL
Year             1979
RS                775
RA                643
W                  98
OBP              0.33
SLG             0.416
BA              0.272
Playoffs            1
RankSeason        2.0
RankPlayoffs      1.0
G                 163
OOBP              NaN
OSLG              NaN
Name: 865, dtype: object)
(891, Team              PIT
League             NL
Year             1978
RS                684
RA                637
W                  88
OBP              0.32
SLG             0.385
BA              0.257
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
Name: 891, dtype: object)
(917, Team              PIT
League             NL
Year             1977
RS                734
RA                665
W                  96
OBP             0.331
SLG             0.413
BA              0.274
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 917, dtype: object)
(943, Team              PIT
League             NL
Year             1976
RS                708
RA                630
W                  92
OBP             0.321
SLG             0.391
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 943, dtype: object)
(967, Team              PIT
League             NL
Year             1975
RS                712
RA                565
W                  92
OBP             0.323
SLG             0.402
BA              0.263
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 161
OOBP              NaN
OSLG              NaN
Name: 967, dtype: object)
(991, Team              PIT
League             NL
Year             1974
RS                751
RA                657
W                  88
OBP             0.335
SLG             0.391
BA              0.274
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 991, dtype: object)
(1015, Team              PIT
League             NL
Year             1973
RS                704
RA                693
W                  80
OBP             0.315
SLG             0.405
BA              0.261
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1015, dtype: object)
(1039, Team              PIT
League             NL
Year             1971
RS                788
RA                599
W                  97
OBP              0.33
SLG             0.416
BA              0.274
Playoffs            1
RankSeason        2.0
RankPlayoffs      1.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 1039, dtype: object)
(1063, Team              PIT
League             NL
Year             1970
RS                729
RA                664
W                  89
OBP             0.325
SLG             0.406
BA               0.27
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 1063, dtype: object)
(1086, Team              PIT
League             NL
Year             1969
RS                725
RA                652
W                  88
OBP             0.334
SLG             0.398
BA              0.277
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1086, dtype: object)
(1108, Team              PIT
League             NL
Year             1968
RS                583
RA                532
W                  80
OBP             0.306
SLG             0.343
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
Name: 1108, dtype: object)
(1128, Team              PIT
League             NL
Year             1967
RS                679
RA                693
W                  81
OBP             0.324
SLG              0.38
BA              0.277
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
Name: 1128, dtype: object)
(1148, Team              PIT
League             NL
Year             1966
RS                759
RA                641
W                  92
OBP             0.329
SLG             0.428
BA              0.279
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1148, dtype: object)
(1168, Team              PIT
League             NL
Year             1965
RS                675
RA                580
W                  90
OBP             0.317
SLG             0.382
BA              0.265
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
Name: 1168, dtype: object)
(1188, Team              PIT
League             NL
Year             1964
RS                663
RA                636
W                  80
OBP             0.315
SLG             0.389
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1188, dtype: object)
(1208, Team              PIT
League             NL
Year             1963
RS                567
RA                595
W                  74
OBP             0.309
SLG             0.359
BA               0.25
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1208, dtype: object)
(1228, Team              PIT
League             NL
Year             1962
RS                706
RA                626
W                  93
OBP             0.321
SLG             0.394
BA              0.268
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
Name: 1228, dtype: object)

In [107]:
# Print the row and type of each row
for row_tuple in pit_df.iterrows():
    print(row_tuple)
    print(type(row_tuple))

(21, Team              PIT
League             NL
Year             2012
RS                651
RA                674
W                  79
OBP             0.304
SLG             0.395
BA              0.243
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.314
OSLG             0.39
Name: 21, dtype: object)
<class 'tuple'>
(51, Team              PIT
League             NL
Year             2011
RS                610
RA                712
W                  72
OBP             0.309
SLG             0.368
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.338
OSLG            0.409
Name: 51, dtype: object)
<class 'tuple'>
(81, Team              PIT
League             NL
Year             2010
RS                587
RA                866
W                  57
OBP             0.304
SLG             0.373
BA              0.242
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.348
OSLG            0.449
Name: 81, dtype: object)
<class 'tuple'>
(111, Team              PIT
League             NL
Year             2009
RS                636
RA                768
W                  62
OBP             0.318
SLG             0.387
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.346
OSLG            0.442
Name: 111, dtype: object)
<class 'tuple'>
(141, Team              PIT
League             NL
Year             2008
RS                735
RA                884
W                  67
OBP              0.32
SLG             0.403
BA              0.258
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.362
OSLG            0.454
Name: 141, dtype: object)
<class 'tuple'>
(171, Team              PIT
League             NL
Year             2007
RS                724
RA                846
W                  68
OBP             0.325
SLG             0.411
BA              0.263
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.352
OSLG            0.447
Name: 171, dtype: object)
<class 'tuple'>
(201, Team              PIT
League             NL
Year             2006
RS                691
RA                797
W                  67
OBP             0.327
SLG             0.397
BA              0.263
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.357
OSLG            0.431
Name: 201, dtype: object)
<class 'tuple'>
(231, Team              PIT
League             NL
Year             2005
RS                680
RA                769
W                  67
OBP             0.322
SLG               0.4
BA              0.259
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.344
OSLG            0.424
Name: 231, dtype: object)
<class 'tuple'>
(262, Team              PIT
League             NL
Year             2004
RS                680
RA                744
W                  72
OBP             0.321
SLG             0.401
BA               0.26
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.342
OSLG            0.416
Name: 262, dtype: object)
<class 'tuple'>
(292, Team              PIT
League             NL
Year             2003
RS                753
RA                801
W                  75
OBP             0.338
SLG              0.42
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.336
OSLG            0.431
Name: 292, dtype: object)
<class 'tuple'>
(322, Team              PIT
League             NL
Year             2002
RS                641
RA                730
W                  72
OBP             0.319
SLG             0.381
BA              0.244
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.342
OSLG            0.423
Name: 322, dtype: object)
<class 'tuple'>
(352, Team              PIT
League             NL
Year             2001
RS                657
RA                858
W                  62
OBP             0.313
SLG             0.393
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.344
OSLG            0.433
Name: 352, dtype: object)
<class 'tuple'>
(382, Team              PIT
League             NL
Year             2000
RS                793
RA                888
W                  69
OBP             0.339
SLG             0.424
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP            0.361
OSLG            0.432
Name: 382, dtype: object)
<class 'tuple'>
(412, Team              PIT
League             NL
Year             1999
RS                775
RA                782
W                  78
OBP             0.334
SLG             0.419
BA              0.259
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP            0.343
OSLG             0.42
Name: 412, dtype: object)
<class 'tuple'>
(442, Team              PIT
League             NL
Year             1998
RS                650
RA                718
W                  69
OBP             0.311
SLG             0.374
BA              0.254
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
Name: 442, dtype: object)
<class 'tuple'>
(471, Team              PIT
League             NL
Year             1997
RS                725
RA                760
W                  79
OBP             0.329
SLG             0.404
BA              0.262
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 471, dtype: object)
<class 'tuple'>
(499, Team              PIT
League             NL
Year             1996
RS                776
RA                833
W                  73
OBP             0.329
SLG             0.407
BA              0.266
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 499, dtype: object)
<class 'tuple'>
(527, Team              PIT
League             NL
Year             1993
RS                707
RA                806
W                  75
OBP             0.335
SLG             0.393
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 527, dtype: object)
<class 'tuple'>
(553, Team              PIT
League             NL
Year             1992
RS                693
RA                595
W                  96
OBP             0.324
SLG             0.381
BA              0.255
Playoffs            1
RankSeason        2.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 553, dtype: object)
<class 'tuple'>
(579, Team              PIT
League             NL
Year             1991
RS                768
RA                632
W                  98
OBP             0.338
SLG             0.398
BA              0.263
Playoffs            1
RankSeason        1.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 579, dtype: object)
<class 'tuple'>
(605, Team              PIT
League             NL
Year             1990
RS                733
RA                619
W                  95
OBP              0.33
SLG             0.405
BA              0.259
Playoffs            1
RankSeason        2.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 605, dtype: object)
<class 'tuple'>
(631, Team              PIT
League             NL
Year             1989
RS                637
RA                680
W                  74
OBP             0.311
SLG             0.359
BA              0.241
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 164
OOBP              NaN
OSLG              NaN
Name: 631, dtype: object)
<class 'tuple'>
(657, Team              PIT
League             NL
Year             1988
RS                651
RA                616
W                  85
OBP             0.317
SLG             0.369
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 160
OOBP              NaN
OSLG              NaN
Name: 657, dtype: object)
<class 'tuple'>
(683, Team              PIT
League             NL
Year             1987
RS                723
RA                744
W                  80
OBP              0.33
SLG             0.403
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 683, dtype: object)
<class 'tuple'>
(709, Team              PIT
League             NL
Year             1986
RS                663
RA                700
W                  64
OBP             0.321
SLG             0.374
BA               0.25
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 709, dtype: object)
<class 'tuple'>
(735, Team              PIT
League             NL
Year             1985
RS                568
RA                708
W                  57
OBP             0.311
SLG             0.347
BA              0.247
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
Name: 735, dtype: object)
<class 'tuple'>
(761, Team              PIT
League             NL
Year             1984
RS                615
RA                567
W                  75
OBP              0.31
SLG             0.363
BA              0.255
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 761, dtype: object)
<class 'tuple'>
(787, Team              PIT
League             NL
Year             1983
RS                659
RA                648
W                  84
OBP             0.325
SLG             0.383
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 787, dtype: object)
<class 'tuple'>
(813, Team              PIT
League             NL
Year             1982
RS                724
RA                696
W                  84
OBP             0.327
SLG             0.408
BA              0.273
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 813, dtype: object)
<class 'tuple'>
(839, Team              PIT
League             NL
Year             1980
RS                666
RA                646
W                  83
OBP             0.322
SLG             0.388
BA              0.266
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 839, dtype: object)
<class 'tuple'>
(865, Team              PIT
League             NL
Year             1979
RS                775
RA                643
W                  98
OBP              0.33
SLG             0.416
BA              0.272
Playoffs            1
RankSeason        2.0
RankPlayoffs      1.0
G                 163
OOBP              NaN
OSLG              NaN
Name: 865, dtype: object)
<class 'tuple'>
(891, Team              PIT
League             NL
Year             1978
RS                684
RA                637
W                  88
OBP              0.32
SLG             0.385
BA              0.257
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
Name: 891, dtype: object)
<class 'tuple'>
(917, Team              PIT
League             NL
Year             1977
RS                734
RA                665
W                  96
OBP             0.331
SLG             0.413
BA              0.274
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 917, dtype: object)
<class 'tuple'>
(943, Team              PIT
League             NL
Year             1976
RS                708
RA                630
W                  92
OBP             0.321
SLG             0.391
BA              0.267
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 943, dtype: object)
<class 'tuple'>
(967, Team              PIT
League             NL
Year             1975
RS                712
RA                565
W                  92
OBP             0.323
SLG             0.402
BA              0.263
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 161
OOBP              NaN
OSLG              NaN
Name: 967, dtype: object)
<class 'tuple'>
(991, Team              PIT
League             NL
Year             1974
RS                751
RA                657
W                  88
OBP             0.335
SLG             0.391
BA              0.274
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 991, dtype: object)
<class 'tuple'>
(1015, Team              PIT
League             NL
Year             1973
RS                704
RA                693
W                  80
OBP             0.315
SLG             0.405
BA              0.261
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1015, dtype: object)
<class 'tuple'>
(1039, Team              PIT
League             NL
Year             1971
RS                788
RA                599
W                  97
OBP              0.33
SLG             0.416
BA              0.274
Playoffs            1
RankSeason        2.0
RankPlayoffs      1.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 1039, dtype: object)
<class 'tuple'>
(1063, Team              PIT
League             NL
Year             1970
RS                729
RA                664
W                  89
OBP             0.325
SLG             0.406
BA               0.27
Playoffs            1
RankSeason        4.0
RankPlayoffs      3.0
G                 162
OOBP              NaN
OSLG              NaN
Name: 1063, dtype: object)
<class 'tuple'>
(1086, Team              PIT
League             NL
Year             1969
RS                725
RA                652
W                  88
OBP             0.334
SLG             0.398
BA              0.277
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1086, dtype: object)
<class 'tuple'>
(1108, Team              PIT
League             NL
Year             1968
RS                583
RA                532
W                  80
OBP             0.306
SLG             0.343
BA              0.252
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
Name: 1108, dtype: object)
<class 'tuple'>
(1128, Team              PIT
League             NL
Year             1967
RS                679
RA                693
W                  81
OBP             0.324
SLG              0.38
BA              0.277
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
Name: 1128, dtype: object)
<class 'tuple'>
(1148, Team              PIT
League             NL
Year             1966
RS                759
RA                641
W                  92
OBP             0.329
SLG             0.428
BA              0.279
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1148, dtype: object)
<class 'tuple'>
(1168, Team              PIT
League             NL
Year             1965
RS                675
RA                580
W                  90
OBP             0.317
SLG             0.382
BA              0.265
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 163
OOBP              NaN
OSLG              NaN
Name: 1168, dtype: object)
<class 'tuple'>
(1188, Team              PIT
League             NL
Year             1964
RS                663
RA                636
W                  80
OBP             0.315
SLG             0.389
BA              0.264
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1188, dtype: object)
<class 'tuple'>
(1208, Team              PIT
League             NL
Year             1963
RS                567
RA                595
W                  74
OBP             0.309
SLG             0.359
BA               0.25
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 162
OOBP              NaN
OSLG              NaN
Name: 1208, dtype: object)
<class 'tuple'>
(1228, Team              PIT
League             NL
Year             1962
RS                706
RA                626
W                  93
OBP             0.321
SLG             0.394
BA              0.268
Playoffs            0
RankSeason        NaN
RankPlayoffs      NaN
G                 161
OOBP              NaN
OSLG              NaN
Name: 1228, dtype: object)
<class 'tuple'>

### Run differentials with .iterrows()

In [108]:
giants_df = baseball[baseball['Team'] == 'SFG']
giants_df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
24,SFG,NL,2012,718,649,94,0.327,0.397,0.269,1,4.0,1.0,162,0.313,0.393
54,SFG,NL,2011,570,578,86,0.303,0.368,0.242,0,NaN,NaN,162,0.309,0.346
84,SFG,NL,2010,697,583,92,0.321,0.408,0.257,1,5.0,1.0,162,0.313,0.370
114,SFG,NL,2009,657,611,88,0.309,0.389,0.257,0,NaN,NaN,162,0.314,0.372
144,SFG,NL,2008,640,759,72,0.321,0.382,0.262,0,NaN,NaN,162,0.341,0.404

In [110]:
def calc_run_diff(runs_scored, runs_allowed):

    run_diff = runs_scored - runs_allowed

    return run_diff

In [112]:
# Create an empty list to store run differentials
run_diffs = []

# Write a for loop and collect runs allowed and runs scored for each row
for i,row in giants_df.iterrows():
    runs_scored = row['RS']
    runs_allowed = row['RA']
    
    # Use the provided function to calculate run_diff for each row
    run_diff = calc_run_diff(runs_scored, runs_allowed)
    
    # Append each run differential to the output list
    run_diffs.append(run_diff)

giants_df['RD'] = run_diffs
giants_df

/var/folders/4n/dll6nv094h5fm4m2lhzkmtd40000gn/T/ipykernel_80413/3812169555.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  giants_df['RD'] = run_diffs

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,RD
24,SFG,NL,2012,718,649,94,0.327,0.397,0.269,1,4.0,1.0,162,0.313,0.393,69
54,SFG,NL,2011,570,578,86,0.303,0.368,0.242,0,NaN,NaN,162,0.309,0.346,-8
84,SFG,NL,2010,697,583,92,0.321,0.408,0.257,1,5.0,1.0,162,0.313,0.370,114
114,SFG,NL,2009,657,611,88,0.309,0.389,0.257,0,NaN,NaN,162,0.314,0.372,46
144,SFG,NL,2008,640,759,72,0.321,0.382,0.262,0,NaN,NaN,162,0.341,0.404,-119
174,SFG,NL,2007,683,720,71,0.322,0.387,0.254,0,NaN,NaN,162,0.334,0.405,-37
204,SFG,NL,2006,746,790,76,0.324,0.422,0.259,0,NaN,NaN,161,0.337,0.415,-44
234,SFG,NL,2005,649,745,75,0.319,0.396,0.261,0,NaN,NaN,162,0.336,0.412,-96
265,SFG,NL,2004,850,770,91,0.357,0.438,0.270,0,NaN,NaN,162,0.332,0.423,80
295,SFG,NL,2003,755,638,100,0.338,0.425,0.264,1,2.0,4.0,161,0.321,0.386,117
325,SFG,NL,2002,783,616,95,0.344,0.442,0.267,1,6.0,2.0,162,0.319,0.372,167
355,SFG,NL,2001,799,748,90,0.342,0.460,0.266,0,NaN,NaN,162,0.329,0.404,51
385,SFG,NL,2000,925,747,97,0.362,0.472,0.278,1,1.0,4.0,162,0.342,0.412,178
415,SFG,NL,1999,872,831,86,0.356,0.434,0.271,0,NaN,NaN,162,0.345,0.423,41
445,SFG,NL,1998,845,739,89,0.353,0.421,0.274,0,NaN,NaN,163,NaN,NaN,106
474,SFG,NL,1997,784,793,90,0.337,0.414,0.258,1,5.0,4.0,162,NaN,NaN,-9
502,SFG,NL,1996,752,862,68,0.331,0.388,0.253,0,NaN,NaN,162,NaN,NaN,-110
530,SFG,NL,1993,808,636,103,0.340,0.427,0.276,0,NaN,NaN,162,NaN,NaN,172
556,SFG,NL,1992,574,647,72,0.302,0.355,0.244,0,NaN,NaN,162,NaN,NaN,-73
582,SFG,NL,1991,649,697,75,0.309,0.381,0.246,0,NaN,NaN,162,NaN,NaN,-48
608,SFG,NL,1990,719,710,85,0.323,0.396,0.262,0,NaN,NaN,162,NaN,NaN,9
634,SFG,NL,1989,699,600,92,0.316,0.390,0.250,1,3.0,2.0,162,NaN,NaN,99
660,SFG,NL,1988,670,626,83,0.318,0.368,0.248,0,NaN,NaN,162,NaN,NaN,44
686,SFG,NL,1987,783,669,90,0.324,0.430,0.260,1,3.0,3.0,162,NaN,NaN,114
712,SFG,NL,1986,698,618,83,0.322,0.375,0.253,0,NaN,NaN,162,NaN,NaN,80
738,SFG,NL,1985,556,674,62,0.299,0.348,0.233,0,NaN,NaN,162,NaN,NaN,-118
764,SFG,NL,1984,682,807,66,0.328,0.375,0.265,0,NaN,NaN,162,NaN,NaN,-125
790,SFG,NL,1983,687,697,79,0.325,0.375,0.247,0,NaN,NaN,162,NaN,NaN,-10
816,SFG,NL,1982,673,687,87,0.327,0.376,0.253,0,NaN,NaN,162,NaN,NaN,-14
842,SFG,NL,1980,573,634,75,0.308,0.342,0.244,0,NaN,NaN,161,NaN,NaN,-61
868,SFG,NL,1979,672,751,71,0.319,0.365,0.246,0,NaN,NaN,162,NaN,NaN,-79
894,SFG,NL,1978,613,594,89,0.318,0.374,0.248,0,NaN,NaN,162,NaN,NaN,19
920,SFG,NL,1977,673,711,75,0.323,0.383,0.253,0,NaN,NaN,162,NaN,NaN,-38
945,SFG,NL,1976,595,686,74,0.312,0.345,0.246,0,NaN,NaN,162,NaN,NaN,-91
969,SFG,NL,1975,659,671,80,0.333,0.365,0.259,0,NaN,NaN,161,NaN,NaN,-12
993,SFG,NL,1974,634,723,72,0.322,0.358,0.252,0,NaN,NaN,162,NaN,NaN,-89
1017,SFG,NL,1973,739,702,88,0.335,0.407,0.262,0,NaN,NaN,162,NaN,NaN,37
1041,SFG,NL,1971,706,644,90,0.329,0.378,0.247,1,3.0,3.0,162,NaN,NaN,62
1065,SFG,NL,1970,831,826,86,0.351,0.409,0.262,0,NaN,NaN,162,NaN,NaN,5
1089,SFG,NL,1969,713,636,90,0.334,0.361,0.242,0,NaN,NaN,162,NaN,NaN,77
1109,SFG,NL,1968,599,529,88,0.307,0.341,0.239,0,NaN,NaN,163,NaN,NaN,70
1129,SFG,NL,1967,652,551,91,0.313,0.372,0.245,0,NaN,NaN,162,NaN,NaN,101
1149,SFG,NL,1966,675,626,93,0.303,0.392,0.248,0,NaN,NaN,161,NaN,NaN,49
1169,SFG,NL,1965,682,593,95,0.313,0.385,0.252,0,NaN,NaN,163,NaN,NaN,89
1189,SFG,NL,1964,656,587,90,0.310,0.382,0.246,0,NaN,NaN,162,NaN,NaN,69
1209,SFG,NL,1963,725,641,88,0.316,0.414,0.258,0,NaN,NaN,162,NaN,NaN,84
1229,SFG,NL,1962,878,690,103,0.341,0.441,0.278,1,1.0,2.0,165,NaN,NaN,188

## Another iterator method: .itertuples()
### Iterating with .itertuples()

In [113]:
rangers_df = baseball[baseball['Team'] == 'TEX']
rangers_df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
27,TEX,AL,2012,808,707,93,0.334,0.446,0.273,1,5.0,5.0,162,0.309,0.408
57,TEX,AL,2011,855,677,96,0.340,0.460,0.283,1,3.0,2.0,162,0.307,0.392
87,TEX,AL,2010,787,687,90,0.338,0.419,0.276,1,7.0,2.0,162,0.319,0.390
117,TEX,AL,2009,784,740,87,0.320,0.445,0.260,0,NaN,NaN,162,0.331,0.416
147,TEX,AL,2008,901,967,79,0.354,0.462,0.283,0,NaN,NaN,162,0.362,0.455

In [114]:
# Loop over the DataFrame and print each row
for row in rangers_df.itertuples():
  print(row)

Pandas(Index=27, Team='TEX', League='AL', Year=2012, RS=808, RA=707, W=93, OBP=0.334, SLG=0.446, BA=0.273, Playoffs=1, RankSeason=5.0, RankPlayoffs=5.0, G=162, OOBP=0.309, OSLG=0.408)
Pandas(Index=57, Team='TEX', League='AL', Year=2011, RS=855, RA=677, W=96, OBP=0.34, SLG=0.46, BA=0.283, Playoffs=1, RankSeason=3.0, RankPlayoffs=2.0, G=162, OOBP=0.307, OSLG=0.392)
Pandas(Index=87, Team='TEX', League='AL', Year=2010, RS=787, RA=687, W=90, OBP=0.338, SLG=0.419, BA=0.276, Playoffs=1, RankSeason=7.0, RankPlayoffs=2.0, G=162, OOBP=0.319, OSLG=0.39)
Pandas(Index=117, Team='TEX', League='AL', Year=2009, RS=784, RA=740, W=87, OBP=0.32, SLG=0.445, BA=0.26, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.331, OSLG=0.416)
Pandas(Index=147, Team='TEX', League='AL', Year=2008, RS=901, RA=967, W=79, OBP=0.354, SLG=0.462, BA=0.283, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.362, OSLG=0.455)
Pandas(Index=177, Team='TEX', League='AL', Year=2007, RS=816, RA=844, W=75, OBP=0.328, SLG=0.426, BA=0.263, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.356, OSLG=0.423)
Pandas(Index=207, Team='TEX', League='AL', Year=2006, RS=835, RA=784, W=80, OBP=0.338, SLG=0.446, BA=0.278, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.341, OSLG=0.424)
Pandas(Index=237, Team='TEX', League='AL', Year=2005, RS=865, RA=858, W=79, OBP=0.329, SLG=0.468, BA=0.267, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.343, OSLG=0.428)
Pandas(Index=268, Team='TEX', League='AL', Year=2004, RS=860, RA=794, W=89, OBP=0.329, SLG=0.457, BA=0.266, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.344, OSLG=0.432)
Pandas(Index=298, Team='TEX', League='AL', Year=2003, RS=826, RA=969, W=71, OBP=0.33, SLG=0.454, BA=0.266, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.36, OSLG=0.473)
Pandas(Index=328, Team='TEX', League='AL', Year=2002, RS=843, RA=882, W=72, OBP=0.338, SLG=0.455, BA=0.269, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.355, OSLG=0.451)
Pandas(Index=358, Team='TEX', League='AL', Year=2001, RS=890, RA=968, W=73, OBP=0.344, SLG=0.471, BA=0.275, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.362, OSLG=0.494)
Pandas(Index=388, Team='TEX', League='AL', Year=2000, RS=848, RA=974, W=71, OBP=0.352, SLG=0.446, BA=0.283, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=0.369, OSLG=0.475)
Pandas(Index=418, Team='TEX', League='AL', Year=1999, RS=945, RA=859, W=95, OBP=0.361, SLG=0.479, BA=0.293, Playoffs=1, RankSeason=5.0, RankPlayoffs=4.0, G=162, OOBP=0.346, OSLG=0.459)
Pandas(Index=448, Team='TEX', League='AL', Year=1998, RS=940, RA=871, W=88, OBP=0.357, SLG=0.462, BA=0.289, Playoffs=1, RankSeason=8.0, RankPlayoffs=4.0, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=476, Team='TEX', League='AL', Year=1997, RS=807, RA=823, W=77, OBP=0.334, SLG=0.438, BA=0.274, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=504, Team='TEX', League='AL', Year=1996, RS=928, RA=799, W=90, OBP=0.358, SLG=0.469, BA=0.284, Playoffs=1, RankSeason=5.0, RankPlayoffs=4.0, G=163, OOBP=nan, OSLG=nan)
Pandas(Index=532, Team='TEX', League='AL', Year=1993, RS=835, RA=751, W=86, OBP=0.329, SLG=0.431, BA=0.267, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=558, Team='TEX', League='AL', Year=1992, RS=682, RA=753, W=77, OBP=0.321, SLG=0.393, BA=0.25, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=584, Team='TEX', League='AL', Year=1991, RS=829, RA=814, W=85, OBP=0.341, SLG=0.424, BA=0.27, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=610, Team='TEX', League='AL', Year=1990, RS=676, RA=696, W=83, OBP=0.331, SLG=0.376, BA=0.259, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=636, Team='TEX', League='AL', Year=1989, RS=695, RA=714, W=83, OBP=0.326, SLG=0.394, BA=0.263, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=662, Team='TEX', League='AL', Year=1988, RS=637, RA=735, W=70, OBP=0.32, SLG=0.368, BA=0.252, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=161, OOBP=nan, OSLG=nan)
Pandas(Index=688, Team='TEX', League='AL', Year=1987, RS=823, RA=849, W=75, OBP=0.333, SLG=0.43, BA=0.266, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=714, Team='TEX', League='AL', Year=1986, RS=771, RA=743, W=87, OBP=0.331, SLG=0.428, BA=0.267, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=740, Team='TEX', League='AL', Year=1985, RS=617, RA=785, W=62, OBP=0.322, SLG=0.381, BA=0.253, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=161, OOBP=nan, OSLG=nan)
Pandas(Index=766, Team='TEX', League='AL', Year=1984, RS=656, RA=714, W=69, OBP=0.313, SLG=0.377, BA=0.261, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=161, OOBP=nan, OSLG=nan)
Pandas(Index=792, Team='TEX', League='AL', Year=1983, RS=639, RA=609, W=77, OBP=0.31, SLG=0.366, BA=0.255, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=163, OOBP=nan, OSLG=nan)
Pandas(Index=818, Team='TEX', League='AL', Year=1982, RS=590, RA=749, W=64, OBP=0.308, SLG=0.359, BA=0.249, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=844, Team='TEX', League='AL', Year=1980, RS=756, RA=752, W=76, OBP=0.339, SLG=0.405, BA=0.284, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=163, OOBP=nan, OSLG=nan)
Pandas(Index=870, Team='TEX', League='AL', Year=1979, RS=750, RA=698, W=83, OBP=0.334, SLG=0.409, BA=0.278, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=896, Team='TEX', League='AL', Year=1978, RS=692, RA=632, W=87, OBP=0.332, SLG=0.381, BA=0.253, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=922, Team='TEX', League='AL', Year=1977, RS=767, RA=657, W=94, OBP=0.342, SLG=0.405, BA=0.27, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=947, Team='TEX', League='AL', Year=1976, RS=616, RA=652, W=76, OBP=0.321, SLG=0.341, BA=0.25, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=971, Team='TEX', League='AL', Year=1975, RS=714, RA=733, W=79, OBP=0.33, SLG=0.371, BA=0.256, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)
Pandas(Index=995, Team='TEX', League='AL', Year=1974, RS=690, RA=698, W=83, OBP=0.336, SLG=0.377, BA=0.272, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=161, OOBP=nan, OSLG=nan)
Pandas(Index=1019, Team='TEX', League='AL', Year=1973, RS=619, RA=844, W=57, OBP=0.318, SLG=0.361, BA=0.255, Playoffs=0, RankSeason=nan, RankPlayoffs=nan, G=162, OOBP=nan, OSLG=nan)

In [116]:
# Loop over the DataFrame and print each row's Index, Year and Wins (W)
for row in rangers_df.itertuples():
  i = row.Index
  year = row.Year
  wins = row.W
  
  # Check if rangers made Playoffs (1 means yes; 0 means no)
  if row.Playoffs == 1:
    print(i, year, wins)

27 2012 93
57 2011 96
87 2010 90
418 1999 95
448 1998 88
504 1996 90

### Run differentials with .itertuples()

In [117]:
yankees_df = baseball[baseball['Team'] == 'NYY']
yankees_df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
18,NYY,AL,2012,804,668,95,0.337,0.453,0.265,1,3.0,3.0,162,0.311,0.419
48,NYY,AL,2011,867,657,97,0.343,0.444,0.263,1,2.0,4.0,162,0.322,0.399
78,NYY,AL,2010,859,693,95,0.350,0.436,0.267,1,3.0,3.0,162,0.322,0.399
108,NYY,AL,2009,915,753,103,0.362,0.478,0.283,1,1.0,1.0,162,0.327,0.408
138,NYY,AL,2008,789,727,89,0.342,0.427,0.271,0,NaN,NaN,162,0.329,0.405

In [119]:
run_diffs = []

# Loop over the DataFrame and calculate each row's run differential
for row in yankees_df.itertuples():
    
    runs_scored = row.RS
    runs_allowed = row.RA

    run_diff = calc_run_diff(runs_scored, runs_allowed)
    
    run_diffs.append(run_diff)

# Append new column
yankees_df['RD'] = run_diffs
yankees_df

/var/folders/4n/dll6nv094h5fm4m2lhzkmtd40000gn/T/ipykernel_80413/2570888180.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yankees_df['RD'] = run_diffs

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,RD
18,NYY,AL,2012,804,668,95,0.337,0.453,0.265,1,3.0,3.0,162,0.311,0.419,136
48,NYY,AL,2011,867,657,97,0.343,0.444,0.263,1,2.0,4.0,162,0.322,0.399,210
78,NYY,AL,2010,859,693,95,0.350,0.436,0.267,1,3.0,3.0,162,0.322,0.399,166
108,NYY,AL,2009,915,753,103,0.362,0.478,0.283,1,1.0,1.0,162,0.327,0.408,162
138,NYY,AL,2008,789,727,89,0.342,0.427,0.271,0,NaN,NaN,162,0.329,0.405,62
168,NYY,AL,2007,968,777,94,0.366,0.463,0.290,1,2.0,4.0,162,0.340,0.417,191
198,NYY,AL,2006,930,767,97,0.363,0.461,0.285,1,1.0,4.0,162,0.326,0.413,163
228,NYY,AL,2005,886,789,95,0.355,0.450,0.276,1,3.0,4.0,162,0.332,0.422,97
259,NYY,AL,2004,897,808,101,0.353,0.458,0.268,1,2.0,3.0,162,0.328,0.432,89
289,NYY,AL,2003,877,716,101,0.356,0.453,0.271,1,1.0,2.0,163,0.314,0.407,161
319,NYY,AL,2002,897,697,103,0.354,0.455,0.275,1,1.0,4.0,161,0.309,0.395,200
349,NYY,AL,2001,804,713,95,0.334,0.435,0.267,1,3.0,2.0,161,0.318,0.398,91
379,NYY,AL,2000,871,814,87,0.354,0.450,0.277,1,5.0,1.0,161,0.336,0.422,57
409,NYY,AL,1999,900,731,98,0.366,0.453,0.282,1,3.0,1.0,162,0.329,0.400,169
439,NYY,AL,1998,965,656,114,0.364,0.460,0.288,1,1.0,1.0,162,NaN,NaN,309
468,NYY,AL,1997,891,688,96,0.362,0.436,0.287,1,3.0,4.0,162,NaN,NaN,203
496,NYY,AL,1996,871,787,92,0.360,0.436,0.288,1,3.0,1.0,162,NaN,NaN,84
524,NYY,AL,1993,821,761,88,0.353,0.435,0.279,0,NaN,NaN,162,NaN,NaN,60
550,NYY,AL,1992,733,746,76,0.328,0.406,0.261,0,NaN,NaN,162,NaN,NaN,-13
576,NYY,AL,1991,674,777,71,0.316,0.387,0.256,0,NaN,NaN,162,NaN,NaN,-103
602,NYY,AL,1990,603,749,67,0.300,0.366,0.241,0,NaN,NaN,162,NaN,NaN,-146
628,NYY,AL,1989,698,792,74,0.331,0.391,0.269,0,NaN,NaN,161,NaN,NaN,-94
654,NYY,AL,1988,772,748,85,0.333,0.395,0.263,0,NaN,NaN,161,NaN,NaN,24
680,NYY,AL,1987,788,758,89,0.336,0.418,0.262,0,NaN,NaN,162,NaN,NaN,30
706,NYY,AL,1986,797,738,90,0.347,0.430,0.271,0,NaN,NaN,162,NaN,NaN,59
732,NYY,AL,1985,839,660,97,0.344,0.425,0.267,0,NaN,NaN,161,NaN,NaN,179
758,NYY,AL,1984,758,679,87,0.339,0.404,0.276,0,NaN,NaN,162,NaN,NaN,79
784,NYY,AL,1983,770,703,91,0.337,0.416,0.273,0,NaN,NaN,162,NaN,NaN,67
810,NYY,AL,1982,709,716,79,0.328,0.398,0.256,0,NaN,NaN,162,NaN,NaN,-7
836,NYY,AL,1980,820,662,103,0.343,0.425,0.267,1,1.0,3.0,162,NaN,NaN,158
862,NYY,AL,1979,734,672,89,0.328,0.406,0.266,0,NaN,NaN,160,NaN,NaN,62
888,NYY,AL,1978,735,582,100,0.329,0.388,0.267,1,1.0,1.0,163,NaN,NaN,153
914,NYY,AL,1977,831,651,100,0.344,0.444,0.281,1,3.0,1.0,162,NaN,NaN,180
940,NYY,AL,1976,730,575,97,0.328,0.389,0.269,1,3.0,2.0,159,NaN,NaN,155
964,NYY,AL,1975,681,588,83,0.325,0.382,0.264,0,NaN,NaN,160,NaN,NaN,93
988,NYY,AL,1974,671,623,89,0.324,0.368,0.263,0,NaN,NaN,162,NaN,NaN,48
1012,NYY,AL,1973,641,610,80,0.322,0.378,0.261,0,NaN,NaN,162,NaN,NaN,31
1036,NYY,AL,1971,648,641,81,0.328,0.360,0.254,0,NaN,NaN,162,NaN,NaN,7
1060,NYY,AL,1970,680,612,93,0.324,0.365,0.251,0,NaN,NaN,163,NaN,NaN,68
1083,NYY,AL,1969,562,587,80,0.308,0.344,0.235,0,NaN,NaN,162,NaN,NaN,-25
1105,NYY,AL,1968,536,531,83,0.292,0.318,0.214,0,NaN,NaN,164,NaN,NaN,5
1126,NYY,AL,1967,522,621,72,0.296,0.317,0.225,0,NaN,NaN,163,NaN,NaN,-99
1146,NYY,AL,1966,611,612,70,0.299,0.374,0.235,0,NaN,NaN,160,NaN,NaN,-1
1166,NYY,AL,1965,611,604,77,0.299,0.364,0.235,0,NaN,NaN,162,NaN,NaN,7
1186,NYY,AL,1964,730,577,99,0.317,0.387,0.253,1,1.0,2.0,164,NaN,NaN,153
1206,NYY,AL,1963,714,547,104,0.309,0.403,0.252,1,1.0,2.0,161,NaN,NaN,167
1226,NYY,AL,1962,817,680,96,0.337,0.426,0.267,1,2.0,1.0,162,NaN,NaN,137

## pandas alternative to looping
### Analyzing baseball stats with .apply()

In [132]:
rays = baseball[baseball['Team'] == 'NYY']
rays_df = rays[['Year','RS','RA','W','Playoffs']]
rays_df.set_index('Year', inplace=True)

In [133]:
# Gather sum of all columns
stat_totals = rays_df.apply(sum, axis=0)
print(stat_totals)

RS          36227
RA          32243
W            4242
Playoffs       23
dtype: int64

In [134]:
# Gather total runs scored in all games per year
total_runs_scored = rays_df[['RS', 'RA']].apply(sum, axis=1)
print(total_runs_scored)

Year
2012    1472
2011    1524
2010    1552
2009    1668
2008    1516
2007    1745
2006    1697
2005    1675
2004    1705
2003    1593
2002    1594
2001    1517
2000    1685
1999    1631
1998    1621
1997    1579
1996    1658
1993    1582
1992    1479
1991    1451
1990    1352
1989    1490
1988    1520
1987    1546
1986    1535
1985    1499
1984    1437
1983    1473
1982    1425
1980    1482
1979    1406
1978    1317
1977    1482
1976    1305
1975    1269
1974    1294
1973    1251
1971    1289
1970    1292
1969    1149
1968    1067
1967    1143
1966    1223
1965    1215
1964    1307
1963    1261
1962    1497
dtype: int64

In [135]:
def text_playoffs(num_playoffs): 
    if num_playoffs == 1:
        return 'Yes'
    else:
        return 'No'

In [136]:
# Convert numeric playoffs to text by applying text_playoffs()
textual_playoffs = rays_df.apply(lambda row: text_playoffs(row['Playoffs']), axis=1)
print(textual_playoffs)

Year
2012    Yes
2011    Yes
2010    Yes
2009    Yes
2008     No
2007    Yes
2006    Yes
2005    Yes
2004    Yes
2003    Yes
2002    Yes
2001    Yes
2000    Yes
1999    Yes
1998    Yes
1997    Yes
1996    Yes
1993     No
1992     No
1991     No
1990     No
1989     No
1988     No
1987     No
1986     No
1985     No
1984     No
1983     No
1982     No
1980    Yes
1979     No
1978    Yes
1977    Yes
1976    Yes
1975     No
1974     No
1973     No
1971     No
1970     No
1969     No
1968     No
1967     No
1966     No
1965     No
1964    Yes
1963    Yes
1962    Yes
dtype: object

### Settle a debate with .apply()

In [137]:
dbacks_df = baseball[baseball['Team'] == 'ARI']
dbacks_df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415
30,ARI,NL,2011,731,662,94,0.322,0.413,0.250,1,5.0,4.0,162,0.316,0.409
60,ARI,NL,2010,713,836,65,0.325,0.416,0.250,0,NaN,NaN,162,0.340,0.448
90,ARI,NL,2009,720,782,70,0.324,0.418,0.253,0,NaN,NaN,162,0.330,0.419
120,ARI,NL,2008,720,706,82,0.327,0.415,0.251,0,NaN,NaN,162,0.318,0.398

In [139]:
def calc_win_perc(wins, games_played):
    win_perc = wins / games_played
    return np.round(win_perc,2)

In [140]:
# Create a win percentage Series 
win_percs = dbacks_df.apply(lambda row: calc_win_perc(row['W'], row['G']), axis=1)
print(win_percs, '\n')

0      0.50
30     0.58
60     0.40
90     0.43
120    0.51
150    0.56
180    0.47
210    0.48
241    0.31
271    0.52
301    0.60
331    0.57
361    0.52
391    0.62
421    0.40
dtype: float64

In [142]:
# Append a new column to dbacks_df
dbacks_df['WP'] = win_percs
print(dbacks_df, '\n')

    Team League  Year   RS   RA    W    OBP    SLG     BA  Playoffs  \
0    ARI     NL  2012  734  688   81  0.328  0.418  0.259         0
30   ARI     NL  2011  731  662   94  0.322  0.413  0.250         1
60   ARI     NL  2010  713  836   65  0.325  0.416  0.250         0
90   ARI     NL  2009  720  782   70  0.324  0.418  0.253         0
120  ARI     NL  2008  720  706   82  0.327  0.415  0.251         0
150  ARI     NL  2007  712  732   90  0.321  0.413  0.250         1
180  ARI     NL  2006  773  788   76  0.331  0.424  0.267         0
210  ARI     NL  2005  696  856   77  0.332  0.421  0.256         0
241  ARI     NL  2004  615  899   51  0.310  0.393  0.253         0
271  ARI     NL  2003  717  685   84  0.330  0.417  0.263         0
301  ARI     NL  2002  819  674   98  0.346  0.423  0.267         1
331  ARI     NL  2001  818  677   92  0.341  0.442  0.267         1
361  ARI     NL  2000  792  754   85  0.333  0.429  0.265         0
391  ARI     NL  1999  908  676  100  0.347  0.459  0.277         1
421  ARI     NL  1998  665  812   65  0.314  0.393  0.246         0

     RankSeason  RankPlayoffs    G   OOBP   OSLG    WP
0           NaN           NaN  162  0.317  0.415  0.50
30          5.0           4.0  162  0.316  0.409  0.58
60          NaN           NaN  162  0.340  0.448  0.40
90          NaN           NaN  162  0.330  0.419  0.43
120         NaN           NaN  162  0.318  0.398  0.51
150         3.0           3.0  162  0.334  0.420  0.56
180         NaN           NaN  162  0.335  0.431  0.47
210         NaN           NaN  162  0.345  0.455  0.48
241         NaN           NaN  162  0.350  0.439  0.31
271         NaN           NaN  162  0.322  0.388  0.52
301         4.0           4.0  162  0.305  0.397  0.60
331         5.0           1.0  162  0.311  0.404  0.57
361         NaN           NaN  162  0.326  0.424  0.52
391         2.0           4.0  162  0.320  0.402  0.62
421         NaN           NaN  162    NaN    NaN  0.40

/var/folders/4n/dll6nv094h5fm4m2lhzkmtd40000gn/T/ipykernel_80413/4137479642.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dbacks_df['WP'] = win_percs

In [143]:
# Display dbacks_df where WP is greater than 0.50
dbacks_df[dbacks_df['WP'] >= 0.50]

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,WP
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415,0.50
30,ARI,NL,2011,731,662,94,0.322,0.413,0.250,1,5.0,4.0,162,0.316,0.409,0.58
120,ARI,NL,2008,720,706,82,0.327,0.415,0.251,0,NaN,NaN,162,0.318,0.398,0.51
150,ARI,NL,2007,712,732,90,0.321,0.413,0.250,1,3.0,3.0,162,0.334,0.420,0.56
271,ARI,NL,2003,717,685,84,0.330,0.417,0.263,0,NaN,NaN,162,0.322,0.388,0.52
301,ARI,NL,2002,819,674,98,0.346,0.423,0.267,1,4.0,4.0,162,0.305,0.397,0.60
331,ARI,NL,2001,818,677,92,0.341,0.442,0.267,1,5.0,1.0,162,0.311,0.404,0.57
361,ARI,NL,2000,792,754,85,0.333,0.429,0.265,0,NaN,NaN,162,0.326,0.424,0.52
391,ARI,NL,1999,908,676,100,0.347,0.459,0.277,1,2.0,4.0,162,0.320,0.402,0.62

## Optimal pandas iterating
### Replacing .iloc with underlying arrays

In [145]:
baseball_df = baseball

In [147]:
# Use the W array and G array to calculate win percentages
win_percs_np = calc_win_perc(baseball_df['W'].values, baseball_df['G'].values)

# Append a new column to baseball_df that stores all win percentages
baseball_df['WP'] = win_percs_np

baseball_df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,WP
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415,0.50
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378,0.58
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403,0.57
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428,0.43
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424,0.38

### Bringing it all together: Predict win percentage

In [149]:
def predict_win_perc(RS, RA):
    prediction = RS ** 2 / (RS ** 2 + RA ** 2)
    return np.round(prediction, 2)

In [151]:
win_perc_preds_loop = []

# Use a loop and .itertuples() to collect each row's predicted win percentage
for row in baseball_df.itertuples():
    runs_scored = row.RS
    runs_allowed = row.RA
    win_perc_pred = predict_win_perc(runs_scored, runs_allowed)
    win_perc_preds_loop.append(win_perc_pred)

# Apply predict_win_perc to each row of the DataFrame
win_perc_preds_apply = baseball_df.apply(lambda row: predict_win_perc(row['RS'], row['RA']), axis=1)

# Calculate the win percentage predictions using NumPy arrays
win_perc_preds_np = predict_win_perc(baseball_df['RS'].values, baseball_df['RA'].values)
baseball_df['WP_preds'] = win_perc_preds_np
baseball_df.head()

,Team,League,Year,RS,RA,W,OBP,SLG,BA,Playoffs,RankSeason,RankPlayoffs,G,OOBP,OSLG,WP,WP_preds
0,ARI,NL,2012,734,688,81,0.328,0.418,0.259,0,NaN,NaN,162,0.317,0.415,0.50,0.53
1,ATL,NL,2012,700,600,94,0.320,0.389,0.247,1,4.0,5.0,162,0.306,0.378,0.58,0.58
2,BAL,AL,2012,712,705,93,0.311,0.417,0.247,1,5.0,4.0,162,0.315,0.403,0.57,0.50
3,BOS,AL,2012,734,806,69,0.315,0.415,0.260,0,NaN,NaN,162,0.331,0.428,0.43,0.45
4,CHC,NL,2012,613,759,61,0.302,0.378,0.240,0,NaN,NaN,162,0.335,0.424,0.38,0.39